<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> AZAD CHAIWALA INSTITUTE - <?=$title?> </title>
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="<?=app_url()?>/assets/img/favicon.ico">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="<?=app_url()?>/assets/css/fontawesome/css/all.min.css">
    <!-- bootstrap css -->
    <link href="<?=app_url()?>/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom css -->
    <link href="<?=app_url()?>/assets/css/newstyle.css" rel="stylesheet">
    <link href="<?=app_url()?>/assets/css/slider.css" rel="stylesheet">
    <!-- owl carousel -->
    <!-- <link rel="stylesheet" type="text/css" href="<?=app_url()?>/assets/js/OwlCarousel/dist/assets/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<?=app_url()?>/assets/js/OwlCarousel/dist/assets/owl.theme.default.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


      <!-- slick slider for the testimonial -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35728380-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-35728380-10');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 813508452 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-813508452"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-813508452');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '158983481352853');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=158983481352853&ev=PageView&noscript=1"
    /></noscript>

</head>