<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=$title?> - Azad Chaiwala</title>
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="<?=app_url()?>/assets/img/favicon.ico">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="<?=app_url()?>/assets/css/fontawesome/css/all.min.css">
    <!-- bootstrap css -->
    <link href="<?=app_url()?>/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom css -->
    <link href="<?=app_url()?>/assets/css/style.css" rel="stylesheet">
    <link href="<?=app_url()?>/assets/css/slider.css" rel="stylesheet">
    <!-- owl carousel -->
    <link rel="stylesheet" type="text/css" href="<?=app_url()?>/assets/js/OwlCarousel/dist/assets/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<?=app_url()?>/assets/js/OwlCarousel/dist/assets/owl.theme.default.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">


</head>