<body>
<!-- announcement -->
<?php
$noti = new \App\Models\Notifications();
$notis = $noti->getNotification();
?>
<?php foreach($notis as $noti){?>
<?php if(empty($noti['message'])){ ?>

<?php }else{?>
    <div class="alert alert-warning alert-dismissible fade show" id="dis"role="alert">
    <div class="container text-center">
        <?= html_entity_decode($noti['message']);?>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<?php }
}?>
<!-- announcement -->
<!--Header Start-->
<header id="header" class="text-left text-white" style="background:#111111;">
    <nav class="navbar navbar-expand-lg navbar-dark container">
      <a class="navbar-brand" href="<?=app_url()?>/">
        <img src="<?=app_url()?>/assets/img/institute-logo-black.jpg" alt="logo of azadchaiwala">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item <?=(isset($courses)) ? "active": ""?>">
            <a class="nav-link" href="<?=app_url()?>/courses">LEARN SKILLS</a>
            </li>
            <li class="nav-item <?=(isset($faq)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/faqs">FAQ'S</a>
            </li>
            <li class="nav-item <?=(isset($gallery)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/gallery">OUR PHOTOS</a>
            </li>
            <li class="nav-item <?=(isset($gallery)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/accommodation">ACCOMMODATION</a>
            </li>
            <li class="nav-item <?=(isset($payments)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/payments">PAYMENTS</a>
            </li>
            <li class="nav-item <?=(isset($about)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/about">ABOUT</a>
            </li>
            <li class="nav-item <?=(isset($contact)) ? "active": ""?>">
                <a class="nav-link" href="<?= app_url()?>/contact">CONTACT</a>
            </li>
        </ul>
        <div class="number">
            Call Us - 0344 88 84 899<br>
                <small>Monday to Friday 9am to 5pm</small>
        </div>

      </div>
    </nav>
</header>
<div class="container">
    <div class="text-center">
        <div class="header__uder-header">
            <a class="header__under-item" href="<?=app_url()?>/courses">LEARN SKILLS</a>
            <a class="header__under-item" href="<?=app_url()?>/faqs">FAQ'S</a>
            <a class="header__under-item" href="<?=app_url()?>/gallery">OUR PHOTOS</a>
            <a class="header__under-item" href="<?=app_url()?>/accommodation">ACCOMMODATION</a>
            <a class="header__under-item" href="<?=app_url()?>/payments">PAYMENTS</a>
            <a class="header__under-item" href="<?=app_url()?>/about">ABOUT</a>
            <a class="header__under-item" href="<?= app_url()?>/contact">CONTACT US</a>
        </div>
    </div>
</header><!--Header End-->