<section class="topaboutsection">
	<div class="container">
		<div class="row">
			<!-- <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0" id="colnot"></div> -->
			<div class="col-lg-6 col-md-7">
				<div class="texttopabout">
					<h1>We Give You Skills Over Degree. So Its Time TO Get Skills Not Just Piece Of Paper</h1>
				</div>
			</div>
			<div class="col-lg-6 col-md-5">
				<div class="imagetopabout">
					<img src="assets/img/about/about.svg" class="img-fluid ">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="mainaboutsection">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="aboutfirstimagediv">
					<img src="assets/img/about/chaikhanaf-min.jpg" class="img-fluid mt-5">
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="aaboutfirsttext">
					<h2>AZAD CHAIWALA HISTORY</h2>
					<div class="dividerfirstabout"></div>
					<p>
						I have made the majority of my personal wealth from IT and so in 2009 I decided that Pakistan needs to know, some of what I know if it stands any chance in the world. I founded and funded an IT institute by the name of Infaaq. It existed in the shadows for a whole decade. Having spent in excess of 10 crores from my own pocket and having run free or very low cost IT courses across 21 branches, I learnt one thing. That very few people appreciate "FREE or low" cost in Pakistan.
						<p class="urdu">
							میں نے اپنی دولت کا زیادہ تر حصہ ٓآٹی سے کمایا ہے۔ میں نے ۲۰۰۹ میں ارادہ کیا کہ مجھے جو کچھ آتا ہے یہ میں پاکستان میں سکھا وٗں ۔ میں نے ایک ادارہ انفاق کے نام سے ۱۰  سال تک اپنی جیب سے چلایا جسکو ذیادہ پزیرائی نہی ملی۔ ۲۱ برانچز میں مفت یا کم فیس کورسز کروانے کے بعد میں اس نتیجے پر پہنچا کہ پاکستان میں بہت کم لوگ مفت یا سستی چیز کی قدر کرتے ہیں۔

						</p>
						<p>
						With this new learned information, I decided to turn this entire teaching venture of mine from charity to a commercial project, With each course hand written by industry experts and overseen by me, I present you Azad CHAIWALAla, the Institute v2.
						</p>
						<p class="urdu">
							اس سبق کو سیکھنے کے بعد میں نے اس خیراتی ادارے کو کمرشلائز کرنے کا فیصلہ کیا۔ اب حاضر ہے میرے آذاد چائے والا انسٹیٹوٹ کا ورژن ۲ جس میں ہر کورس میں نے اپنی زیر نگرانی انڈسٹری ماہرین سے تیار کروایا ہے۔

						</p>
						
					</p>
				</div>
			</div>
		</div>
		<!-- second row -->
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="aaboutfirsttext">
					<h2>MY MISSION</h2>
					<div class="dividerfirstabout"></div>
					<p>
						To rid Pakistan of theory based education, taught to us in schools, colleges and universities today. This so called education in the very disease that has brought us to our knees. So by means of my videos and my IT Institute. I want to equip our children with skills that will make them productive and in demand.
						<p class="urdu">
							پپاکستانی کتابی تعلیم سے جان چھڑانا جو کہ ہمارے سکولز، کالجز اور یونیورسٹیز میں دی جارہی ہے۔ یہ تعلیم ایک بیماری کی طرح ہمیں کھوکھلا کر رہی ہے۔ تو اپنی وڈیوز اور ادارہ کے ذریعے میں ہمارے بچوں کو ایسے ہنر سے آراستہ کرنا چاہتا ہوں جو کہ ان کو مارکیٹ کی ضروت کے قابل بنا سکے۔

						</p>
						<p>
						Ask yourself this question, what if for every fazool degree holder that we have, who has not only wasted a small fortune of his/her parents & many of his/her prime years on useless nonesense. Was instead someone, who opened a factory of somekind. What would Pakistan be like then? Would we still be in debt? Would we still have unnemployment? would we still have money problems? would we still be treated as a 4th class citizens by others.
						</p>
						<p class="urdu">
خود سے ایک سوال پوچھیں کہ اگر ایک فضول ڈگری والے کی جگہ جس نے اپنے والدین کی محنت کی کمائی اور اپنی زندگی کے قیمتی سال ضائع کے ہیں۔ ایک ایسا بندہ ہوتا جس نے کسی قسم کی فیکٹری بنائی ہوتی توپاکستان کیسا ہوتا؟ کیا ہم پر ابھی تک قرضہ ہوتا؟ کیا ابھی تک پاکستان میں بیروزگاری ہوتی؟ کیا ہمیں ابھی تک سرمائے کا مسئلہ ہوتا؟ کیا ہم سے  اقوام عالم ابھی تک چھوتھے درجے کے شہری کی طرح سلوک کرتیں؟

						</p>
						<p>
						My mission is to bring us back to the same level of skill, that once gave us the courage to go out and build the likes of the Badshahi Masjid, Taj Mahel, Laal Qila etc all without architects, cranes, electric tools or fazool degrees. Imagine that now.
						</p>
						<p class="urdu">
میرا مشن ہمارے ہنر کی وہی بلندی واپس لانا ہے جس سے ہم نے تاج محل، بادشاہی مسجد اور لال قلعہ جیسی عمارات بغیر کسی آرکیٹکٹس، کرینز، الیکٹریکل ٹولزاورکسی  فضول ڈگری کے بنائی۔ زارا سوچھیں۔

						</p>
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="aboutfirstimagediv">
					<img src="assets/img/about/mission1.jpg" class="img-fluid mt-4">
				</div>
				<div class="aboutfirstimagediv">
					<img src="assets/img/about/mission2.jpg" class="img-fluid mt-1">
				</div>
			</div>
		</div>
		<!-- third row -->
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="aboutfirstimagediv">
					<img src="assets/img/about/vision.jpg" class="img-fluid mt-5">
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="aaboutfirsttext">
					<h2>MY VISION</h2>
					<div class="dividerfirstabout"></div>
					<p>
						To see a prosperous Pakistan, where people are as much in love with business as they are with cricket, and discuss more things to do with trade, innovation, business strategies than politics.
						<p>
						<p class="urdu">
ایسا پاکستان دیکھنا جس میں کاروبار کرنا اتنا ہی پسند کیا جاتا ہو جتنی کہ کرکٹ اور سیاست کی جگہ تجارت، دریافت اور کاروباری طریقہ کار کی بات ہوتی ہو۔

						</p>
						A people that are so skilled in their own little niche that the world cannot imagine life without Pakistan. The same way we cannot imagine what life would be without China, the factory of the world. Be it information Technology, Mechanical Technology or Food production... I need Pakistan to be if not at the forefront, not lagging at the back. And inshallah, when we reach there... I'll worry about upgrading my vision for Pakistan to something else.
						</p>
						<p class="urdu">
جہاں لوگ ہر فن میں اتنے ہنر مند ہوں کہ دنیا پاکستان کے بغیر رہنے کا سوچ بھی نہ سکتی ہو۔ جیسا کہ چائنہ جسے دنیا کی فیکٹری کہا جاتا ہےاس  کے بغیر ہم  دنیا کا تصور بھی نہیں کر سکتے۔  پھر وہ چاہے آٹی ، مکینیکل ہو یا فوڈ ٹیکنالوجی میں پاکستان کو سب سے آگے دیکھنا چاہتا ہوں نہ کہ سب سے پیچھے۔ جب ہم وہاں پہنچ جائیں گے تو میں پاکستان کے بارے میں اپنا خواب مزید بڑھانا چاہوں گا۔
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>