<section class="section-accommodation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h1 class="accommodation-primery">Accommodation</h1>
                <div class="accommodation-divider"></div>
                <p class="accommodation-paragraph">
                    99% of our students come from outside of Mirpur and thus we know accomodation
                    is a major issue for our students. Subject to availability we have accomodation we can
                    offer you on a first come, first basis. This needs to be booked as soon as your seat
                    for a course is confirmed.
                </p>
                <p class="accommodation-paragraph">
                    Rooms are offered on a shared basis, monthly rent is 6,000 per person per month for month long
                    courses. 2 weeks courses are charged at 3500 per person. We DO NOT OFFER FOOD.
                </p>
                <p class="accommodation-paragraph">
                    If our accomodation is not to your liking, we would be more than happy to find you alternative local
                    accomodation with hostels or 3/4/5 star hotels. For this you can call us or write to us.
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="accommodtion-map">
                    <iframe allowfullscreen=""
                            frameborder="0" height="100%"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.738620569263!2d73.74918986556665!3d33.14223077258008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6980557c2382296e!2sNishat%20Linen!5e0!3m2!1sen!2s!4v1583134546170!5m2!1sen!2s"
                            style="border:0;" width="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container accommodation-images">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <a data-gallery="gallery" data-toggle="lightbox"
                           href="<?=app_url()?>/assets/img/accommodation/1.jpg">
                            <img alt="azadchaiwala accommodation" class="img-fluid"
                                 src="<?=app_url()?>/assets/img/accommodation/1s.jpg">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a data-gallery="gallery" data-toggle="lightbox"
                           href="<?=app_url()?>/assets/img/accommodation/21.jpg">
                            <img alt="azadchaiwala accommodation" class="img-fluid"
                                 src="<?=app_url()?>/assets/img/accommodation/2s.jpg">
                        </a>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <a data-gallery="gallery" data-toggle="lightbox"
                           href="<?=app_url()?>/assets/img/accommodation/3.jpg">
                            <img alt="azadchaiwala accommodation" class="img-fluid"
                                 src="<?=app_url()?>/assets/img/accommodation/3s.jpg">
                        </a>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <a data-gallery="gallery" data-toggle="lightbox"
                           href="<?=app_url()?>/assets/img/accommodation/4.jpg">
                            <img alt="azadchaiwala accommodation" class="img-fluid"
                                 src="<?=app_url()?>/assets/img/accommodation/4s.jpg">
                        </a>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <a data-gallery="gallery" data-toggle="lightbox"
                           href="<?=app_url()?>/assets/img/accommodation/3.jpg">
                            <img alt="azadchaiwala accommodation" class="img-fluid"
                                 src="<?=app_url()?>/assets/img/accommodation/3s.jpg">
                        </a>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <a data-gallery="gallery" data-toggle="lightbox"
                           href="<?=app_url()?>/assets/img/accommodation/4.jpg">
                            <img alt="azadchaiwala accommodation" class="img-fluid"
                                 src="<?=app_url()?>/assets/img/accommodation/4s.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <table class="table table-bordered table-secondary table-striped">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="4" style="font-size: 18px; font-weight: bold">Accommodation
                            Charges Table
                        </th>
                    </tr>
                    <tr>
                        <th><b>Course Name</b></th>
                        <th><b>Duration</b></th>
                        <th><b>Charges*</b></th>
                        <th><b>Security*</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><b>Videography</b></td>
                        <td>18 Days</td>
                        <td>4,000</td>
                        <td>1,000</td>
                    </tr>
                    <tr>
                        <td><b>Graphic Designing</b></td>
                        <td>30 Days</td>
                        <td>6,000</td>
                        <td>1,000</td>
                    </tr>
                    <tr>
                        <td><b>Game Development</b></td>
                        <td>120 Days</td>
                        <td>24,000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td><b>WEB PHP Development</b></td>
                        <td>60 Days</td>
                        <td>12,000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td><b>Per Month</b></td>
                        <td>30 Days</td>
                        <td>6,000</td>
                        <td>1,000</td>
                    </tr>
                    <tr>
                        <td><b>For Extra Days*</b></td>
                        <td>1 Day</td>
                        <td>300</td>
                        <td>1,000</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <li class="d-flex"><i class="fas fa-star text-info pr-2"></i> <span>All fees are to be paid in <b>advance on a monthly basis</b></span>
                            </li>
                            <li class="d-flex"><i class="fas fa-star text-info pr-2"></i> <span>A Fully Refundable deposit of <b>Rs.1,000</b> will be taken and returned after room inspection when you leave.</span>
                            </li>
                            <li class="d-flex"><i class="fas fa-star text-info pr-2"></i> <span>Please Note any overstay will be charged at the rate of <b>Rs.300/day</b>.</span>
                            </li>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/accommodation/5.jpg">
                    <img alt="azadchaiwala accommodation" class="img-fluid"
                         src="<?=app_url()?>/assets/img/accommodation/5s.jpg">
                </a>
            </div>
            <div class="col-lg-3">
                <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/accommodation/6.jpg">
                    <img alt="azadchaiwala accommodation" class="img-fluid"
                         src="<?=app_url()?>/assets/img/accommodation/6s.jpg">
                </a>
            </div>
            <div class="col-lg-3">
                <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/accommodation/7.jpg">
                    <img alt="azadchaiwala accommodation" class="img-fluid"
                         src="<?=app_url()?>/assets/img/accommodation/7s.jpg">
                </a>
            </div>
            <div class="col-lg-3">
                <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/accommodation/8.jpg">
                    <img alt="azadchaiwala accommodation" class="img-fluid"
                         src="<?=app_url()?>/assets/img/accommodation/8s.jpg">
                </a>
            </div>
        </div>
    </div>
</section>