<header id="dtr-header-global" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark dtr-menu">
            <div class="container">

                <!-- light logo -->
                <a class="navbar-brand logo-light" href="<?=app_url()?>/"><img
                        src="<?=app_url()?>/assets/html/images/html-logo.png"
                        alt="logo"></a>
                <!-- dark logo -->
                <a class="navbar-brand logo-dark" href="<?=app_url()?>/"><img
                        src="<?=app_url()?>/assets/html/images/html-logo.png" alt="logo"></a>

                <!-- nav menu toggler-->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>

                <!-- menu starts-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="dtr-scrollspy navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="<?=app_url()?>/">Main Site</a></li>
                        <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#products">Payment</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">FAQ</a></li>
                    </ul>
                </div>
                <!-- menu ends-->

                <!-- button here -->
                <div class="dtr-btn ml-4 d-none d-lg-block"><a href="tel:+923448884899">0344 88 84 899 <span><i
                        class="icon-phone-call" aria-hidden="true"></i></span> </a></div>
                <!-- button ends -->
            </div>
        </nav>
    </header>











    <!-- tags wala section -->

    <div data-target=".dtr-scrollspy-tabs">

            <!-- tab 1 starts -->
            <section id="tab1" class="dtr-sticky-tabs-section">
                <div class="dtr-sticky-tabs-content">
                    <div class="container">
                        <div class="row align-items-center">

                            <!-- column 1 starts -->
                            <div class="col-12 col-md-7 dtr-sm-mb-30px wow fadeInLeft" data-wow-delay="0.1s">
                                <video controls onloadstart="this.volume=0.2" style="width:100%;">
                                    <source src="<?=app_url()?>/assets/html/video/easypaisa.mp4" type="video/mp4">
                                </video>
                            </div>
                            <!-- column 1 ends -->

                            <!-- column 2 starts -->
                            <div class="col-12 col-md-5 wow fadeInRight" data-wow-delay="0.1s">

                                <!-- Icon Image -->
                                <img src="<?=app_url()?>/assets/html/images/easypaisa.png" alt="logo" height="50"
                                     class="dtr-mb-4">

                                <!-- Heading -->
                                <h2 class="dtr-mb-4">How to Send using EasyPaisa?</h2>

                                <!-- Text -->
                                <p class="dtr-mb-5">Watch this video tutorial on how to send fee using EasyPaisa mobile
                                    account</p>
                            </div>
                            <!-- column 2 ends -->

                        </div>
                    </div>
                </div>
            </section>
            <!-- tab 1 ends -->

            <!-- tab 2 starts -->
            <section id="tab2" class="dtr-sticky-tabs-section">
                <div class="dtr-sticky-tabs-content">
                    <div class="container">
                        <div class="row align-items-center">

                            <!-- column 1 starts -->
                            <div class="col-12 col-md-5 dtr-sm-mb-30px wow fadeInRight" data-wow-delay="0.1s">

                                <!-- Icon Image -->
                                <img src="<?=app_url()?>/assets/html/images/jazzcash.png" height="50" alt="logo"
                                     class="dtr-mb-4">

                                <!-- Heading -->
                                <h2 class="dtr-mb-4">How to Send using JazzCash?</h2>

                                <!-- Text -->
                                <p class="dtr-mb-5">Watch this video tutorial on how to send fee using JazzCash mobile
                                    account</p>
                            </div>
                            <!-- column 1 ends -->

                            <!-- column 2 starts -->
                            <div class="col-12 col-md-7 text-right wow fadeInLeft" data-wow-delay="0.1s">
                                <video controls onloadstart="this.volume=0.2" style="width:100%;">
                                    <source src="<?=app_url()?>/assets/html/video/jazzcash.mp4" type="video/mp4">
                                </video>
                            </div>
                            <!-- column 2 ends -->

                        </div>
                    </div>
                </div>
            </section>
            <!-- tab 2 ends -->

            <!-- tab 3 starts -->
            <section id="tab3" class="dtr-sticky-tabs-section">
                <div class="dtr-sticky-tabs-content">
                    <div class="container">
                        <div class="row align-items-center">

                            <!-- column 1 starts -->
                            <div class="col-12 col-md-7 dtr-sm-mb-30px wow fadeInLeft" data-wow-delay="0.1s">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="<?=app_url()?>/assets/img/dubai-logo.png" class="img-fluid">
                                        <div class="table-responsive mt-4">
                                            <table class="table text-left">
                                                <tr>
                                                    <td><b>Bank Name</b></td>
                                                    <td>Dubai Islamic Bank</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Account Title</b></td>
                                                    <td>Azad Chaiwala Institute</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Account Number</b></td>
                                                    <td>032045 4038006</td>
                                                </tr>
                                                <tr>
                                                    <td><b>SWIFT</b></td>
                                                    <td>DUIBPKKAXXX</td>
                                                </tr>
                                                <tr>
                                                    <td><b>IBAN</b></td>
                                                    <td>PK25DUIB0000000454038006</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column 1 ends -->

                            <!-- column 2 starts -->
                            <div class="col-12 col-md-5 wow fadeInRight" data-wow-delay="0.1s">

                                <!-- Icon Image -->
                                <img src="<?=app_url()?>/assets/html/images/bank_transfer.png" height="50" alt="logo" class="dtr-mb-4">

                                <!-- Heading -->
                                <h2 class="dtr-mb-4">Our Bank Details</h2>

                                <!-- Text -->
                                <p class="dtr-mb-5">use these bank details to send course fee.</p>

                            </div>
                            <!-- column 2 ends -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- tab 3 ends -->

        </div>








        <!-- 

        3453
        53
        4534
        53
        453
        45




        Footer section  -->
        <footer id="dtr-footer-global" class="bg-blue color-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-md-12"> &copy; copyright 2020. AzadChaiwala.com</div>
            </div>
            <!-- copyright row ends -->
        </div>
    </footer>