<!-- course section -->
	<section >
		<div class="courses">
			<div class="container mt-2">
				<div class="courh">
					<h2>OUR COURSES - SKILLS WE TEACH</h2>
				</div>
				<div class="divider"></div>
				<div class="row mt-2">
					<?php foreach($courses as $c){ ?>
						<?php
							$heading = array(
								"Only 2 seats left",
								"Starting on 25-02-2020",
								"Starting in 2 days",
								"Limited Seats",
								"Only 1 seat left"
							);
						?>
					<div class="col-lg-4">
						<div class="course-card">
							<a href="<?=app_url()?>/course/<?=$c['slug'];?>">
								<div class="course_card-start">
									<p><?=$heading[rand(0,4)]?></p>
								</div>
								<div class="course__card-image">
									<img src="<?=app_url()?>/getImage?i=<?=$c['id']?>&t=course" alt="course image" class="img-fluid">
								</div>
								<div class="course__card-content">
									<h2><?=$c['course_name']?> (<?=$c['duration'];?>)</h2>
									<p><?=add3Dots($c['course_description'], 100)?></p>
								</div>
								<div class="course__card-fee"><?=number_format($c['fee']);?> <small class="text-white">PKR</small></div>
							</a>
						</div>
					</div>
					<?php } ?>
				</div>
			</div>
		</div>
	</section>
	<!-- course section end -->