<link href="<?=app_url()?>/assets/css/wizard.css" rel="stylesheet">
<section class="course-register-header ">
    <div class="container text-capitalize text-center">
        <div class="row">
            <div class="col-lg-12 regirsterh">
                <h1>Register <?= $course['course_name'];?> (<?= $course['duration'];?>) COURSE</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <!-- second main register row -->
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="registerform">
                    <?=showMsg('course_registration');?>
                    <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                        <h3 style="font-size: 1.2rem !important;">
                            Personal Details
                        </h3>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-4 col-12 col-lg-4 text-center">
                                    <input type="file" class="inputfile" name="your_picture" id="your_picture"
                                           onchange="readURL(this);" data-multiple-caption="{count} files selected"
                                           multiple/>
                                    <label for="your_picture">
                                        <figure>
                                            <img src="<?=app_url()?>/assets/img/your-picture.png" alt="" class="your_picture_image">
                                        </figure>
                                        <span class="file-button">choose picture</span>
                                    </label>
                                </div>
                                <div class="col-md-8 col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>Your Full Name</label>
                                                <input type="text" required name="full_name" class="form-control" placeholder="Enter Your Full Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>Father's Name</label>
                                                <input type="text" required name="father_name" class="form-control" placeholder="Enter Father Name">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label>Your Email</label>
                                                <input type="email" required name="your_email" class="form-control" placeholder="Enter Your Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>Your Mobile Number</label>
                                                <input type="text" required name="mobile_number" class="form-control" placeholder="Enter Your Mobile Number">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>Father's Mobile Number</label>
                                                <input type="text" required name="father_mobile_number" class="form-control" placeholder="Enter Your Father's Mobile Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h3 style="font-size: 1.2rem !important;">
                            Course Details
                        </h3>
                        <fieldset>
                            <div class="form-radio">
                                <label for="job" class="label-radio">What are you doing ?</label>
                                <div class="form-flex">
                                    <div class="form-radio">
                                        <input type="radio" name="job" value="designer" id="designer"/>
                                        <label for="designer">
                                            <figure>
                                                <img src="<?=app_url()?>/assets/img/icon-1.png" alt="">
                                            </figure>
                                            <span>Designer</span>
                                        </label>
                                    </div>

                                    <div class="form-radio">
                                        <input type="radio" name="job" value="coder" id="coder" checked="checked"/>
                                        <label for="coder">
                                            <figure>
                                                <img src="<?=app_url()?>/assets/img/icon-2.png" alt="">
                                            </figure>
                                            <span>Coder</span>
                                        </label>
                                    </div>

                                    <div class="form-radio">
                                        <input type="radio" name="job" value="developer" id="developer"/>
                                        <label for="developer">
                                            <figure>
                                                <img src="<?=app_url()?>/assets/img/icon-3.png" alt="">
                                            </figure>
                                            <span>Developer</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h3 style="font-size: 1.2rem !important;">
                            Payment
                        </h3>
                        <fieldset>
                            <div class="form-row form-input-flex">
                                <div class="form-input">
                                    <input type="text" name="street_name" id="street_name"
                                           placeholder="Street Name"/>
                                </div>
                                <div class="form-input">
                                    <input type="text" name="street_number" id="street_number"
                                           placeholder="Street Number"/>
                                </div>
                            </div>
                            <div class="form-row form-input-flex">
                                <div class="form-input">
                                    <input type="text" name="city" id="city" placeholder="City"/>
                                </div>
                                <div class="form-input">
                                    <select name="country" id="country">
                                        <option value="">Country</option>
                                        <option value="Viet Nam">Viet Nam</option>
                                        <option value="USA">USA</option>
                                    </select>
                                    <span class="select-icon"><i class="zmdi zmdi-caret-down"></i></span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>