


<section class="free-course-hero">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="free-hero-heading">
					Our Guide to  <span>Free</span> Online Courses (Self Learning)
				</h1>
				<p class="free-hero-tag-line">Below is a list of the best Free Online Courses & Tutorials that will help you learn skills via self learning. All The Best.</p>
			</div>
		</div>
	</div>
</section>

<section class="free-course-self" id="html">
	<div class="container">

		<div class="row">

			<div class="col-lg-6">

				

				<ul class="list-group">

				  <li class="list-heading">Learn Html (Free)</li>

				  <li class="list-group-item">Learn Html From 

				  	<a href="https://www.freecodecamp.org/" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/freecodecamp.png" alt="icon image" class="icon-image">
				  	FreeCodeCamp</a>

				  </li>
				  <li class="list-group-item">Learn Html From Offical <a href="https://developer.mozilla.org/en-US/docs/Learn/html" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/mdn.png" alt="icon image" class="icon-image">Mozilla Developer Network (web development tools website)</a></li>
				  <li class="list-group-item">Learn Html From <a href="https://www.w3schools.com/html/default.asp" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/w3school.ico" alt="icon image" class="icon-image">W3 schools</a></li>
				  <li class="list-group-item">Learn Html From <a href="https://www.youtube.com/watch?v=pQN-pnXPaVg" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">FreeCodeCamp Youtube Channel Video Tutorials</a> </li>
				</ul>
			</div>

			<div class="col-lg-6">

				

				<ul class="list-group">

				  <li class="list-heading">Learn CSS (Free)</li>

				  <li class="list-group-item">Learn Css From <a href="https://www.freecodecamp.org/" target="_blank">
				  <img src="<?=app_url()?>/assets/free_course/freecodecamp.png" alt="icon image" class="icon-image">FreeCodeCamp</a></li>
				  <li class="list-group-item">Learn Css From Offical <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/mdn.png" alt="icon image" class="icon-image">Mozilla Developer Network (web development tools website)</a></li>
				  <li class="list-group-item">Learn Css From <a href="https://www.w3schools.com/css/default.asp" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/w3school.ico" alt="icon image" class="icon-image">W3 schools</a></li>
				  <li class="list-group-item">Learn Css From <a href="https://www.youtube.com/watch?v=1Rs2ND1ryYc" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">FreeCodeCamp Youtube Channel Video Tutorials</a> </li>
				</ul>
			</div>

		</div>

	</div>
</section>



<section class="free-course-self" id="bootstrap">
	<div class="container">

				
		<div class="row">


			<div class="col-lg-6">
				<ul class="list-group">

				  <li class="list-heading">Learn Bootstrap (Free)</li>

				  <li class="list-group-item">Learn Bootstrap From <a href="https://www.freecodecamp.org/" target="_blank">
				  <img src="<?=app_url()?>/assets/free_course/freecodecamp.png" alt="icon image" class="icon-image">FreeCodeCamp</a></li>
				  <li class="list-group-item">Learn Bootstrap From Offical <a href="https://getbootstrap.com/" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/bootstrap.png" alt="icon image" class="icon-image">Offical Bootstrap website</a></li>
				  <li class="list-group-item">Learn Bootstrap From <a href="https://www.w3schools.com/bootstrap4/" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/w3school.ico" alt="icon image" class="icon-image">W3 schools</a></li>
				  <li class="list-group-item">Learn Bootstrap From <a href="https://www.youtube.com/watch?v=QAgrHLtG1Yk&list=PL4cUxeGkcC9jE_cGvLLC60C_PeF_24pvv" target="_blank"> 
				  	<img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">Youtube Channel Video Tutorials</a></li>
				</ul>
			</div>

			<div class="col-lg-6">
				<ul class="list-group">

				  <li class="list-heading">Learn JavaScript (Free)</li>
					
				  <li class="list-group-item">Learn Javascript From <a href="https://www.freecodecamp.org/" target="_blank">
				  <img src="<?=app_url()?>/assets/free_course/freecodecamp.png" alt="icon image" class="icon-image">FreeCodeCamp</a></li>

				  <li class="list-group-item">Learn JavaScript From Offical <a href="https://developer.mozilla.org/en-US/docs/Learn/javascript" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/mdn.png" alt="icon image" class="icon-image">Mozilla Developer Network (web development tools website)</a></li>

				  <li class="list-group-item">Learn JavaScriptFrom <a href="https://www.w3schools.com/js/default.asp" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/w3school.ico" alt="icon image" class="icon-image">W3 schools</a></li>

				  <li class="list-group-item">Learn JavaScript From <a href="https://www.youtube.com/watch?v=hdI2bqOjy3c&t=18s" target="_blank">
				  <img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image"> Youtube Channel Video Tutorials</a></li>
				</ul>
			</div>


		</div>

	</div>
</section>


<section class="free-course-self" id="php">
	<div class="container">
		<div class="row">	
			<div class="col-lg-6">
				<ul class="list-group">

				  <li class="list-heading">Learn PHP (Free)</li>

				  <li class="list-group-item">Learn PHP From <a href="https://www.w3schools.com/php/default.asp" target="_blank">
				  	<img src="<?=app_url()?>/assets/free_course/w3school.ico" alt="icon image" class="icon-image">W3 schools</a></li>
				  <li class="list-group-item">Learn PHP From <a href="https://www.tutorialspoint.com/php/index.htm" target="_blank" > <img src="<?=app_url()?>/assets/free_course/t-point.ico" alt="icon image" class="icon-image">Tutorials Point</a></li>
				  <li class="list-group-item">Learn PHP From Offical <a href="https://www.php.net/" target="_blank"> <img src="<?=app_url()?>/assets/free_course/php.ico" alt="icon image" class="icon-image">Website</a></li>
				  <li class="list-group-item">Learn PHP From <a href="https://www.youtube.com/watch?v=OK_JCtrrv-c&t=4617s" target="_blank"> <img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">Youtube Channel Video Tutorials</a></li>

				</ul>
			</div>

			<div class="col-lg-6">
				<ul class="list-group">

				  <li class="list-heading">Learn Graphic Designing (Free)</li>

				  <li class="list-group-item">Learn Photoshop From <a href="https://www.youtube.com/watch?v=ZByhs9mDtDg&list=PLW-zSkCnZ-gA5Jn6gZtUa6-aG0OoRZyb6" target="_blank"><img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">Youtube (Urdu)</a></li>
				  <li class="list-group-item">Learn Adobe Illustrator  From <a href="https://www.youtube.com/watch?v=vd1vRpoWC3M&list=PLW-zSkCnZ-gCq0DjkzY-YapCBEk0lA6lR" target="_blank"><img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">Youtube  (Urdu)</a></li>
				  <li class="list-group-item">Learn Photoshop From <a href="https://www.youtube.com/c/PiXimperfect/playlists" target="_blank"><img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">Youtube (English)</a></li>
				</ul>
			</div>

		</div>
	</div>
</section>

<section class="free-course-self" id="php">
	<div class="container">
		<div class="row">	
			<div class="col-lg-6">
				<ul class="list-group">

				  <li class="list-heading">Learn App Development (Free)</li>

				  <li class="list-group-item">Learn Android Development From <a href="https://www.youtube.com/watch?v=fis26HvvDII" target="_blank"><img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">Youtube</a></li>

				  <li class="list-group-item">Learn IOS Development From <a href="https://www.youtube.com/watch?v=09TeUXjzpKs" target="_blank"><img src="<?=app_url()?>/assets/free_course/youtube.ico" alt="icon image" class="icon-image">Youtube</a></li>
				  

				</ul>
			</div>

			<div class="col-lg-6">
				<ul class="list-group">

				  <li class="list-heading">Learn Digital Marketing & SEO (Free))</li>

				  <li class="list-group-item">Learn Google Adwords <a href="https://support.google.com/google-ads/answer/6146252?hl=en" target="_blank"><img src="<?=app_url()?>/assets/free_course/google.png" alt="icon image" class="icon-image">From Google Offical</a></li>

				  <li class="list-group-item">Learn Facebook Marketing <a href="https://web.facebook.com/business/learn?_rdc=1&_rdr" target="_blank"><img src="<?=app_url()?>/assets/free_course/facebook.ico" alt="icon image" class="icon-image">From Facebook Offical</a></li>

				  <li class="list-group-item">Learn SEO  <a href="https://digiskills.pk/" target="_blank"><img src="<?=app_url()?>/assets/free_course/digi.ico" alt="icon image" class="icon-image">From DigiSkills</a></li>
				  
				</ul>
			</div>

		</div>
	</div>
</section>