


<section class="free-course-hero">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="free-hero-heading">
					Welcome To <span>Free</span> <br>  Online Courses Guide
				</h1>
			</div>
		</div>
	</div>
</section>

<section class="free-course-self" id="html">
	<div class="container">

		<div class="row">

			<div class="col-lg-6">

				<h2 class="free-heading-secondry html-secondary">Learn Html (Free)</h2>

				<ul class="list-group">
				  <li class="list-group-item">Learn Html From <a href="https://www.freecodecamp.org/">FreeCodeCamp</a></li>
				  <li class="list-group-item">Learn Html From Offical <a href="https://developer.mozilla.org/en-US/docs/Learn/html">Mozilla Developer Network (web development tools website)</a></li>
				  <li class="list-group-item">Learn Html From <a href="https://www.w3schools.com/html/default.asp">W3 schools</a></li>
				  <li class="list-group-item">Learn Html From <a href="https://www.youtube.com/watch?v=pQN-pnXPaVg">FreeCodeCamp Youtube Channel Video Tutorials</a> </li>
				</ul>
			</div>

			<div class="col-lg-6">

				<h2 class="free-heading-secondry css-secondary">Learn CSS (Free)</h2>

				<ul class="list-group">
				  <li class="list-group-item">Learn Css From <a href="https://www.freecodecamp.org/">FreeCodeCamp</a></li>
				  <li class="list-group-item">Learn Css From Offical <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">Mozilla Developer Network (web development tools website)</a></li>
				  <li class="list-group-item">Learn Css From <a href="https://www.w3schools.com/css/default.asp">W3 schools</a></li>
				  <li class="list-group-item">Learn Css From <a href="https://www.youtube.com/watch?v=1Rs2ND1ryYc">FreeCodeCamp Youtube Channel Video Tutorials</a> </li>
				</ul>
			</div>

		</div>

	</div>
</section>



<section class="free-course-self" id="bootstrap">
	<div class="container">

				
		<div class="row">


			<div class="col-lg-6">
				<h2 class="free-heading-secondry bootstrap-secondary">Learn Bootstrap (Free)</h2>
				<ul class="list-group">
				  <li class="list-group-item">Learn Bootstrap From <a href="https://www.freecodecamp.org/">FreeCodeCamp</a></li>
				  <li class="list-group-item">Learn Bootstrap From Offical <a href="https://getbootstrap.com/">Offical Bootstrap website</a></li>
				  <li class="list-group-item">Learn Bootstrap From <a href="https://www.w3schools.com/bootstrap4/">W3 schools</a></li>
				  <li class="list-group-item">Learn Bootstrap From <a href="https://www.youtube.com/watch?v=gqOEoUR5RHg"> Youtube Channel Video Tutorials</a></li>
				</ul>
			</div>

			<div class="col-lg-6">
				<h2 class="free-heading-secondry javascript-secondary">Learn JavaScript (Free)</h2>
				<ul class="list-group">
				  <li class="list-group-item">Learn Javascript From <a href="https://www.freecodecamp.org/">FreeCodeCamp</a></li>

				  <li class="list-group-item">Learn JavaScript From Offical <a href="https://developer.mozilla.org/en-US/docs/Learn/javascript">Mozilla Developer Network (web development tools website)</a></li>

				  <li class="list-group-item">Learn JavaScriptFrom <a href="https://www.w3schools.com/js/default.asp">W3 schools</a></li>

				  <li class="list-group-item">Learn JavaScript From <a href="https://www.youtube.com/watch?v=qoSksQ4s_hg&list=PL4cUxeGkcC9i9Ae2D9Ee1RvylH38dKuET"> Youtube Channel Video Tutorials</a></li>
				</ul>
			</div>


		</div>

	</div>
</section>


<section class="free-course-self" id="php">
	<div class="container">
		<div class="row">	
			<div class="col-lg-6">
				<h2 class="free-heading-secondry php-secondary">Learn PHP (Free)</h2>
				<ul class="list-group">
					<li class="list-group-item">Learn PHP From <a href="https://www.w3schools.com/php/default.asp">W3 schools</a></li>

				  <li class="list-group-item">Learn PHP From <a href="https://www.tutorialspoint.com/php/index.htm">Tutorials Point</a></li>

				  <li class="list-group-item">Learn PHP From Offical <a href="https://www.php.net/">Website</a></li>

				  

				  <li class="list-group-item">Learn PHP From <a href="https://www.youtube.com/watch?v=qVU3V0A05k8&list=PL0eyrZgxdwhwBToawjm9faF1ixePexft-"> Youtube Channel Video Tutorials</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>