<section class="free-course-hero">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="free-hero-heading">
					Welcome To <span>AzadChaiwal</span> <br> Free Online Courses
				</h1>
				<div class="free-course-buttons">
					<a href="#html">Learn Html</a>
					<a href="#css">Learn CSS</a>
					<a href="#bootstrap">Learn Bootstrap</a>
					<a href="#javascript">Learn Javascript</a>
					<a href="#">Learn Php</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="free-course-self" id="html">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="free-heading-secondry html-secondary">Learn Html For Free</h2>
				<div class="row">
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="free-course-self" id="css">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="free-heading-secondry css-secondary">Learn CSS For Free</h2>
				<div class="row">
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="free-course-self" id="bootstrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="free-heading-secondry bootstrap-secondary">Learn Bootstrap For Free</h2>
				<div class="row">
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="free-course-self" id="javascipt">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="free-heading-secondry html-secondary">Learn Javascript For Free</h2>
				<div class="row">
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/html/html-crash-course-azad-chaiwala.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="free-course-self" id="php">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="free-heading-secondry php-secondary">Learn PHP For Free</h2>
				<div class="row">
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/php/php-final.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/php/php-final.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="">
							<div class="free-course-box">
								<div class="free-course-img-heading">
									<img src="<?=app_url()?>/assets/img/php/php-final.jpg" alt="course image" class="img-fluid free-course-image">
									<h3 class="free-course-title">Free Online Html Course</h3>
								</div>
								<div class="free-course-link">
									<p>Free Course | 30min</p>
									<span>Beginner Course</span>
									<i class="fa fa-signal"></i>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>