<section class="Course video-course">
    
        <!-- video section and enroll section -->
    <div class="container graphic-section">    
        <div class="row ">
            <div class="col-lg-6 ">
                <div class="graphic__section-video" >
                    <video style="width:100%;" autobuffer autoloop loop controls >
                        <source src="assets/img/videography/" style="width:500px;height:500px">
                    </video>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="graphic__section-info">
                    <h1>Become A Graphic Designer In Only (4 Weeks)</h1>
                    <p>Our course helps 16-35 year olds become skilled Graphic Designers & illustrators. So they can be skilled enough to get a job or begin a profitable career in freelancing get a job or begin a profitable career in freelancing.</p>
                    <div class="grahpic-enroll-button">
                        <a class="btn btn-lg btn-block"><span>Change Your Life </span>Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- what will you learn -->
    <div class="container graphic-will-learn">
        <h3>What will you learn?</h3>
        <div class="row">
            <div class="col-lg-6 graphic-will__learn-text">
                <ul>
                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>How to edit existing photos & graphics.</span></li>
                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>How to use Adobe Photoshop, Illustrator & Coral Draw.</span></li>
                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>How to use and how to make handmade illustrations using a drawing tablet.</span></li>
                </ul>
            </div>
            <div class="col-lg-6 graphic-will__learn-text">
                <ul>
                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Prepare you in the best skills of the printing world.</span></li>
                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Teach you how to make custom logos, letter heads, brochures, banner, Typography, Characters etc.</span></li>
                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>How to sell your skills, as a freelancer.</span></li>
                </ul>
            </div>
        </div>
        
                    
    </div>
    <!-- end what will you learn -->
    <!-- What You Will Lear Section Start here -->
    <div class="container graphic-learn-section" style="margin-top:0px;">     
        <div class="row" >
            <div class="col-lg-3">
                <div class="graphic-learn graphic-course-for" >
                    <h3>Who is the Course For?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>For you, if you want to be skilled.</span></li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>For you if you want to make money</span></li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>For you, if you feel lost, demotivated & don't  know where to start.</span></li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>If you want a better alternative to a degree.</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="graphic-learn graphic-course-benefit" >
                    <h3>What Are The Benefits?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will learn a popular skill in only 4 weeks.</span></li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will get a mega confidence boost.</span></li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to make money in a short period after  the course by getting a job or freelancing.</span></li>
                    </ul>
                </div> 
            </div>
            <div class="col-lg-3">
                <div class="graphic-learn graphic-course-return" >
                    <h3>What is your return on investment (ROI)?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>Very High</span></li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>The course fee is only 40,000</span></li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>After completion & practicing your skills for only 30 days, you will be good enough to be hired as a junior graphic designer for a minimum of 15-20,000 / month.</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="graphic-learn graphic-course-notdo" >
                    <h3>This course is not for?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>For people looking for a certificate..</span></li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Existing graphic designers.</span></li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>If you enjoy theories and ratta based classrooms. We give you practical training based education. You will need to work hard if you want to learn this skill.</span></li>
                    </ul>
                </div>
            </div>     
        </div>
    </div>
        <!-- Our instructure area -->
    <div class="container graphic-our-insturcture" >        
        <div class="row">
            <div class="col-lg-6">
                <div class="graphic-our__instructure-main">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<?=app_url()?>/assets/teacher_images/157909826915772941055e1f209ceb2fe.jpg" alt="teacher image" class="img-fluid">
                        </div>
                        <div class="col-lg-6 pl-0" style="min-height: 289px;">
                            <h3>Instructor: Ali Mir </h3>
                            <p> 
                                Ali Mir started his career back in 2012. He has a very wide skill base & experience. He can teach almost every major Graphic Design Software. Hundreds of Students across the whole of Pakistan are today appointed in workplaces and freelancing, thanks to his training. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="graphic-our__instructure-main d-flex">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<?=app_url()?>/assets/teacher_images/157909819620377545615e1f2053e69dd.jpg" alt="teacher image" class="img-fluid">
                        </div>
                        <div class="col-lg-6 pl-0">
                            <h3>Instructor: Zain</h3>
                            <p> 
                                is very creative and constantly learning new techniques and technologies in the videography world, in order to continue improving his own skill set and that of our students. Khizzar has been a videographer for over 5 years and has worked on close to 1000 videos in his career. His videos of Azad Bhai have seen tens of millions of views on Youtube & Facebook.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
        <!-- success story area -->
    <div class="container video-success-course text-center">
        <h2 class="text-center">Success Stories</h2>     
        <div class=" row">
            <div class="col-lg-4">
                <div class="video-success-course-detail">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-success-course-detail"> 
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>       
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-success-course-detail"> 
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>      
                </div>
            </div>
        </div> 
    </div>
    <!-- success story area end -->
    <!-- course feature section -->
    <div class="container graphic-features-course text-center">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="graphic-features__course-details">
                            <span class="material-icons md-36">
                                monetization_on
                            </span>
                            <h3>Fee</h3>
                            <p>40,000 Rupees</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="graphic-features__course-details">
                            <span class="material-icons md-48">alarm</span>
                            <h3>Course Start</h3>
                            <p>(12/ 3/ 2020)</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="graphic-features__course-details">
                            <span class="material-icons md-48">
                                supervisor_account
                            </span>
                            <h3>Class Size</h3>
                            <p>10 students each class</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="graphic-features__course-details">
                            <span class="material-icons md-48">alarm</span>
                            <h3>Duration</h3>
                            <p>4 hours per day, 4 Weeks</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="graphic-features__course-details">
                            <span class="material-icons md-48">house</span>
                            <h3>Accomdation</h3>
                            <p>Is avaliable subject to avaliablity</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 d-flex flex-row align-items-center justify-content-center">
                <div class="graphic-features__course-details graphic-enrol-button">
                    <a class="btn btn-lg btn-block">Enroll Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- course feature section end here -->
    
    <!-- why learn from us -->
    <div class="container graphic-artwork text-center">
        <div class="row">
            <div class="col-lg-8 offset-2 graphic-artwork-heading">
                <h2>Some of Our Art Work</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/1.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/1s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/2.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/2s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/3.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/3s.jpg" alt="art work image" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/12.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/12s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/13.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/13s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/14.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/14s.jpg" alt="art work image" class="img-fluid">
                    </a>                    
                </div>
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/23.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/23s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/24.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/24s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/25.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/25s.jpg" alt="art work image" class="img-fluid">
                    </a>
                </div>
            </div>  
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/6.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/6s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/7.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/7s.jpg" alt="art work image" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/28.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/28s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/29.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/29s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/32.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/32s.jpg" alt="art work image" class="img-fluid">
                    </a>                    
                </div>
            </div> 
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/18.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/18s.jpg" alt="art work image" class="img-fluid">
                    </a> 
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/19.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/19s.jpg" alt="art work image" class="img-fluid">
                    </a> 
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/20.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/20s.jpg" alt="art work image" class="img-fluid">
                    </a> 
                </div>
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/21.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/21s.jpg" alt="art work image" class="img-fluid">
                    </a> 
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/22.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/22s.jpg" alt="art work image" class="img-fluid">
                    </a> 
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/34.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/34s.jpg" alt="art work image" class="img-fluid">
                    </a> 
                </div>
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/8.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/8s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/9.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/9s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/10.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/10s.jpg" alt="art work image" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/30.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/30s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/31.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/31s.jpg" alt="art work image" class="img-fluid">
                    </a>
                   
                </div>
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/26.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/26s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/27.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/27s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/11.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/11s.jpg" alt="art work image" class="img-fluid">
                    </a>
                </div>              
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/4.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/4s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/5.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/5s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/33.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/33s.jpg" alt="art work image" class="img-fluid">
                    </a>
                </div>              
            </div>
            <div class="col-lg-1 p-1">
                <div class="graphic-artwork-images">
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/15.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/15s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/16.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/16s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    <a href="<?=app_url()?>/assets/img/graphics/artwork/17.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/graphics/artwork/17s.jpg" alt="art work image" class="img-fluid">
                    </a>
                    
                </div>              
            </div>
        </div>
    </div>
    <!-- end why learn from us -->
    <!-- testimonials -->
    <div class="container video-testimonials-course text-center">
        <h2 class="text-center">Testimonials</h2>
        <div class="row">
            <div class="col-lg-4 ">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials end here -->
    <!-- equipments start here-->
    <div class="container graphic-equipments-course">
        <h2 class="text-center">Photos of our graphic design classroom and institute</h2>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/1.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/1.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/2.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/2.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/3.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/3.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/4.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/4.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/5.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/5.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/6.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/6.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/7.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/7.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/8.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/8.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/9.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/9.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>

            
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/12.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/12.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/13.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/13.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/15.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/15.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/16.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/16.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/17.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/17.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/18.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/18.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="graphic-equipments-images">
                    <a href="<?=app_url()?>/assets/img/institute/19.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/institute/19.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            
        </div>
    </div>
    <!-- equipments end here -->

    <!-- faqs section start here -->
    <div class="container video-faqs-course" >
        <h2 class="text-center">Frequently Asked Question</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="video-faqs-course-inner">
                    <h4>When will the course start & finish?</h4>
                    <p>The next batch for this course will start on (12, March, 2020) and end on (12, April, 2020) date. You can see all future batches on the signup page.</p>
                </div>
                <div class="video-faqs-course-inner">
                    <h4>How Quickly well See I results?</h4>
                    <p>You will start seeing the result of your skills almost from day one, you truly know what an education is and it has nothing to do with memorizing boring textbooks. You will immediately feel proud of yourself and your own serve worth will go up. With regards to earning from your skills, that depends on multiple factors. The first factor is how fast of a learner you are. The second factor is how much practice you do once the course is finished. We generally recommend not applying for any jobs or starting your freelance career until you have practiced
                        and sharpened your skills for at least a month. During that time, we'd like you to focus on  building a quality portfolio of your work.
                        </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="video-faqs-course-inner">
                    <h4>How much does accomodation cost?</h4>
                    <p>For the duration of this course the accommodation cost is Rupees 6000 for a total of 30 days. We do not provide food. Our accommodation is only available to our students & is subject to any vacancies. To book or for further help with your accommodation requirement, you may call us during our open hours. Our staff member will gladly assist you with your needs.  </p>
                </div>
                <div class="video-faqs-course-inner">
                    <h4>Do I need to buy text book?</h4>
                    <p>No, because khum aap ko videography paraateh nahi but rather sikhate hain. Ratta is banned at our institute.</p>
                </div>
                <div class="video-faqs-course-inner">
                    <h4>Are there any course requirements?</h4>
                    <p>Yes, you must be able to understand English and you must be able to use a computer, up to mid-level at-least.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Faqs section end here -->

    <!-- enrollNow -->
    <div class="container graphic_lastenroll-now text-center">
        <p>Poori information mil gayi? Abh Skill Seekho Aur Life Badlo :)</p>
        <a href="#" class="btn btn-lg ">Enroll Now <i class="fas fa-angle-double-right"></i></a>
    </div>
</section>