<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Online HTML Course - AzadChaiwala Institute</title>
    <meta name="author" content="Azad Chaiwala">
    <meta name="description"
          content="Taste of Programming logic for absolute beginners. Here is your chance to
          take your first step towards computer languages. Register now and learn at home">
    <meta name="keywords"
          content="html, online, course, azad, azadchaiwala, azad chaiwala, online courses, karachi, lahore">
    <!-- FAVICON FILES -->
    <link href="<?=app_url()?>/assets/img/favicon.ico" rel="apple-touch-icon"
          sizes="144x144">
    <link href="<?=app_url()?>/assets/img/favicon.ico" rel="apple-touch-icon"
          sizes="120x120">
    <link href="<?=app_url()?>/assets/img/favicon.ico" rel="apple-touch-icon"
          sizes="76x76">
    <link href="<?=app_url()?>/assets/img/favicon.ico" rel="shortcut icon">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="<?=app_url()?>/assets/css/fontawesome/css/all.min.css">
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet">
    <!-- CSS FILES --> 
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/fonts/iconfont.css">
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/css/swiper.min.css">
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/css/venobox.css">
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/css/animate.css">
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/css/select2.min.css">
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/css/style.css">
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/css/responsive.css">
    <link rel="stylesheet" href="<?=app_url()?>/assets/html/css/color-1.css">




    <style type="text/css">
        .navbar {
  padding: 0px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  width: 100%;
  height: 60px;
}

@media (max-width: 779px) {
  .navbar-brand {
    width: 70%;
  }

  .navbar-brand > img {
    width: 100% !important;
    height: 60px !important;
  }
}

@media (max-width: 600px) {
  .navbar-brand > img {
    width: 100% !important;
    height: 50px !important;
  }
}

@media (min-width: 990px) {
  .navbar-collapse > ul {
    display: none;
  }
}

.number {
  position: absolute;
  right: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.number > small {
  color: #c5c0c0;
  font-size: 17px;
  display: block;
  text-align: right;
}

.header__under-header {
  display: flex;
}

@media (max-width: 990px) {
  .header__uder-header {
    display: none;
  }

  .header__under-item {
    padding: 5px;
  }

  .nav-link {
    margin-top: 10px;
  }

  .number {
    display: none;
  }
}

.header__under-item {
  margin: 20px !important;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.header__under-item:hover {
  color: #e4e4e4;
}
@media (min-width: 900px) {
  .number-mobile {
    display: none;
  }
}
.navbar-dark .navbar-toggler-icon::after {
    font-family: 'icomoon';
    content: "\ef8c";
    font-size: 24px;
    color: #ffffff;
}
@media (max-width: 992px){
.navbar-dark .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link, .nav-link.dropdown-toggle {
    color: #fff !important;
}}









@media (max-width: 400px) {
  .site-footer {
    padding-bottom: 430px;
  }
}
.containerflex {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.flexcolumn {
  color: white;
  letter-spacing: 1px;
}

.flexcolum-2 > a {
  padding: 5px;
}

.flexcolum-2 > a > i {
  font-size: 24px;
  color: white;
}



.site-footer {
  border-top: 0px !important;
  background-color: #262626;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
}
@media (max-width: 400px) {
  .site-footer {
    margin-bottom: 45px;
  }
}

.site-footer p,
.site-footer p i {
  color: white;
  font-family: var(--course-family);
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  font-family: var(--course-bold-family);
  font-weight: 500;
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.youtube:hover {
  background-color: #ff3400;
}

.social-icons a.instagram:hover {
  background-color: #bc0b97;
}

.social-icons a.tiktok:hover {
  background-color: black;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}






    </style>
        

</head>
<body>



<!--Header Start-->
<header id="header" class="text-left text-white" style="background:#111111;">
    <nav class="navbar navbar-expand-lg navbar-dark container">
      <a class="navbar-brand" href="<?=app_url()?>/">
        <img src="<?=app_url()?>/assets/img/institute-logo-black.jpg" alt="logo of azadchaiwala">
      </a>
      <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse p-4" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item <?=(isset($courses)) ? "active": ""?>">
            <a class="nav-link" href="<?=app_url()?>/courses">LEARN SKILLS</a>
            </li>
            <li class="nav-item <?=(isset($faq)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/faqs">FAQ'S</a>
            </li>
            <li class="nav-item <?=(isset($gallery)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/gallery">OUR PHOTOS</a>
            </li>
            <li class="nav-item <?=(isset($gallery)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/accommodation">ACCOMMODATION</a>
            </li>
            <li class="nav-item <?=(isset($payments)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/payments">PAYMENTS</a>
            </li>
            <li class="nav-item <?=(isset($about)) ? "active": ""?>">
                <a class="nav-link" href="<?=app_url()?>/about">ABOUT</a>
            </li>
            <li class="nav-item <?=(isset($contact)) ? "active": ""?>">
                <a class="nav-link" href="<?= app_url()?>/contact">CONTACT</a>
            </li>
            <li class="nav-item <?=(isset($account)) ? "active": ""?>">
                <a class="nav-link" href="<?= app_url()?>/account">My Account</a>
            </li>
        </ul>
        <div class="number">
            Call Us - 0344 88 84 899<br>
                <small>Monday to Friday 9am to 5pm</small>
        </div>
 
      </div>
    </nav>
</header>

<div class="container-fluid" style="background-color: #4B2A42">
    <div class="text-center">
        <div class="header__uder-header">
            <a class="header__under-item" href="<?=app_url()?>/courses">LEARN SKILLS</a>
            <a class="header__under-item" href="<?=app_url()?>/faqs">FAQ'S</a>
            <a class="header__under-item" href="<?=app_url()?>/gallery">OUR PHOTOS</a>
            <a class="header__under-item" href="<?=app_url()?>/accommodation">ACCOMMODATION</a>
            <a class="header__under-item" href="<?=app_url()?>/payments">PAYMENTS</a>
            <a class="header__under-item" href="<?=app_url()?>/about">ABOUT</a>
            <a class="header__under-item" href="<?= app_url()?>/contact">CONTACT US</a>
            <a class="header__under-item" href="<?= app_url()?>/account">MY ACCOUNT</a>
        </div>
        <div class="number-mobile">
            <h3 class="font-weight-bold text-dark" style="margin-bottom: -3px; font-size: 23px; color: white !important;">Call Us - 0344 88 84 899</h3>
        </div>
    </div>
</div>
















<div id="dtr-wrapper" class="clearfix">
    <!-- Header
============================================= -->
    
    <!-- header ends
================================================== -->

    <!-- hero section starts
================================================== -->
    <section id="home" class="hero-section dtr-py-8 hero-default-bg bg-blue" style="padding-top:4rem;">
        <div class="container">
            <div class="row align-items-center">

                <!-- column 1 starts -->
                <div class="col-12 col-md-6 dtr-sm-mb-30px color-white">

                    <!-- Heading -->
                    <h4 class="wow fadeInUp">In 2,000 pkr only</h4>
                    <h1 class="dtr-mb-4 wow fadeInUp" data-wow-delay="0.1s">
                        HTML CRASH <br> COURSE ONLINE
                    </h1>
                    <div class="html-main-video">
                        <video controls onloadstart="this.volume=0.2" style="width:100%;margin-top:-18px;">
                            <source src="<?=app_url()?>/assets/html/video/html.mp4" type="video/mp4">
                        </video>
                    </div>
                    <!-- Text -->
                    <p class="dtr-mb-4 text-size-md color-white-muted" style="line-height: 1.5"> 
                    <a href="#details" class="show_hide" >Read Details</a>
                    </p>
                    <!-- Modal -->
                    <!-- <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                           
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p style="color: black">Technically, HTML "Hypertext Markup Language" is
                                        a programming language. Whether or not some people consider HTML a real
                                        programming language is
                                        not terribly important for your or Pakistan's success.
                                        <br><br>
                                        HTML along with CSS (Cascading Style Sheets) are declarative programming
                                        languages. They are
                                        basic statements declaring how web pages should be displayed in browsers.
                                        <br><br>
                                        Vast majority of programming languages involve writing computational code (the
                                        part of any
                                        website, app, software that creates functionality). In practical life HTML & CSS
                                        both are used
                                        to assist & often in correlation with scripting languages such as JavaScript &
                                        PHP etc.<br><br>
                                        Most successful programmers began their coding journey with HTML and CSS. But
                                        these days you'll
                                        not be able to build something revolutionary or get a job solely based on basic
                                        HTML alone.
                                        <br><br>
                                        That said, we have a severe shortage of competent programmers that can write
                                        code in
                                        computational languages & the Pakistani education system is failing to produce
                                        them.
                                        Our 4 hour HTML crash course has been developed to give you a quick taste of
                                        what programming
                                        is, to help you make a more informed career choice and to give you the
                                        confidence to pursue
                                        advance learning via free (self learning) or paid (short term institute
                                        courses). In simpler
                                        words.... doodh ka doodh, Paani ka Paani.</p>
                                </div>
                            </div>

                        </div>
                    </div> -->
                </div>
                <!-- column 1 ends -->
                <!-- column 2 starts -->
                <div class="col-12 col-md-6 wow fadeInRight" data-wow-delay="0.1s">
                    <div class="dtr-hero-form">

                        <!-- form header starts -->
                        <div class="dtr-form-head">
                            <h4 class="text-center">Register Now</h4>
                        </div>

                        <!-- form body starts -->
                        <div class="dtr-form-body">

                            <!--                            <p class="text-center dtr-mb-4 text-size-sm">Here is your chance to take your first step-->
                            <!--                                towards computer languages. Register now and learn at home</p>-->
                            <div class="dtr-form dtr-submit-full contact_form">
                                <form id="contactform" method="post" action="<?=app_url()?>/doRegister">
                                    <input type="hidden" value="html" name="type">
                                    <fieldset>
                                        <p>
                                            <input name="full_name" type="text" placeholder="Name" class="required">
                                        </p>
                                        <p>
                                            <input name="phone_number" class="required number" type="tel"
                                                   placeholder="Phone">
                                        </p>
                                        <p>
                                            <input name="email" class="required email" type="text" placeholder="Email">
                                        </p>
                                        <p>
                                            <input name="password" class="required password" type="password" placeholder="Password">
                                        </p>
                                        <button type="submit" class="dtr-btn-round dtr-btn-blue"> Create Account</button>
                                        <div class="text-center">Already have an account? <a href="<?=app_url()?>/account">Login Now</a></div>

                                    </fieldset>
                                </form>
                                <div id="result"></div>
                            </div>
                        </div>
                        <!-- form body ends -->
                    </div>
                </div>
                <!-- column 2 ends -->

            </div>
        </div>
    </section>
    <!-- hero section starts
================================================== -->

    <!-- quickfeature section starts
================================================== -->
    <section id="quickfeatures" class="dtr-py-6">
        <div class="container">
            <div class="row text-center">

                <!-- column 1 starts -->
                <div class="col-12 col-md-3 dtr-sm-mb-30px wow fadeInUp" data-wow-delay="0.1s">

                    <!-- Icon -->
                    <img class="dtr-mb-4" src="<?=app_url()?>/assets/html/images/online-class.png" alt="icon">

                    <!-- Heading -->
                    <h5 class="mb-3"> Online Course </h5>

                    <!-- Text -->
                    <p>Stay Home Keep Learning</p>
                </div>
                <!-- column 1 ends -->

                <!-- column 2 starts -->
                <div class="col-12 col-md-3 dtr-sm-mb-30px wow fadeInUp" data-wow-delay="0.1s">

                    <!-- Icon -->
                    <img class="dtr-mb-4" src="<?=app_url()?>/assets/html/images/hours-4.png" alt="icon">

                    <!-- Heading -->
                    <h5 class="mb-3"> Only 4 Hours</h5>

                    <!-- Text -->
                    <p>Complete 4 Hour lecture</p>
                </div>
                <!-- column 2 ends -->

                <!-- column 3 starts -->
                <div class="col-12 col-md-3 wow fadeInUp" data-wow-delay="0.1s">

                    <!-- Icon -->
                    <img class="dtr-mb-4" src="<?=app_url()?>/assets/html/images/live-tutor.png" alt="icon">

                    <!-- Heading -->
                    <h5 class="mb-3"> Live Tutor </h5>

                    <!-- Text -->
                    <p>Dedicated Tutor</p>
                </div>
                <!-- column 3 ends -->
                <!-- column 3 starts -->
                <div class="col-12 col-md-3 wow fadeInUp" data-wow-delay="0.1s">

                    <!-- Icon -->
                    <img class="dtr-mb-4" src="<?=app_url()?>/assets/html/images/no-recorded-videos.png" alt="icon">

                    <!-- Heading -->
                    <h5 class="mb-3"> No Video Lessons </h5>

                    <!-- Text -->
                    <p>No recorded Lectures</p>
                </div>
                <!-- column 3 ends -->

            </div>
        </div>
    </section>
    <!-- quickfeature section ends
================================================== -->


    <!-- text detail section -->
    <section class="details" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div style="padding: 20px; background: #f7f7f7; margin-bottom:65px;">
                    <p style="color: black; " id="details">Technically, HTML "Hypertext Markup Language" is
                                        a programming language. Whether or not some people consider HTML a real
                                        programming language is
                                        not terribly important for your or Pakistan's success.
                                        <br><br>
                                        HTML along with CSS (Cascading Style Sheets) are declarative programming
                                        languages. They are
                                        basic statements declaring how web pages should be displayed in browsers.
                                        <br><br>
                                        Vast majority of programming languages involve writing computational code (the
                                        part of any
                                        website, app, software that creates functionality). In practical life HTML & CSS
                                        both are used
                                        to assist & often in correlation with scripting languages such as JavaScript &
                                        PHP etc.<br><br>
                                        Most successful programmers began their coding journey with HTML and CSS. But
                                        these days you'll
                                        not be able to build something revolutionary or get a job solely based on basic
                                        HTML alone.
                                        <br><br>
                                        That said, we have a severe shortage of competent programmers that can write
                                        code in
                                        computational languages & the Pakistani education system is failing to produce
                                        them.
                                        Our 4 hour HTML crash course has been developed to give you a quick taste of
                                        what programming
                                        is, to help you make a more informed career choice and to give you the
                                        confidence to pursue
                                        advance learning via free (self learning) or paid (short term institute
                                        courses). In simpler
                                        words.... doodh ka doodh, Paani ka Paani.</p>
                                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- text detail section end -->


    <!-- sticky tabs starts
================================================== -->
    <section id="products" class="dtr-sticky-tabs-wrapper dtr-border-top">

        <!-- tabs nav start -->
        <div class="dtr-sticky-tabs-nav">
            <nav class="dtr-scrollspy-tabs">
                <ul class="dtr-scrollspy nav justify-content-center dtr-sticky-tabs">
                    <li class="nav-item"><a class="nav-link text-center" href="#tab1"><img
                            src="<?=app_url()?>/assets/html/images/easypaisa.png" alt="tab1"
                            height="80"><br>EasyPaisa</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-center" href="#tab2"><img
                            src="<?=app_url()?>/assets/html/images/jazzcash.png" alt="tab2" height="70"><br>JazzCash</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-center" href="#tab3"><img
                            src="<?=app_url()?>/assets/html/images/bank_transfer.png" alt="tab3" height="70"><br>Bank
                        Transfer</a></li>
                </ul>
            </nav>
        </div>
        <!-- tabs nav ends -->

        <!-- 




        tags itay ason

        -------
        ------
        -----
        -----------------
         -->
    </section>
    <!-- sticky tabs starts
================================================== -->

    <!-- about starts
================================================== -->
    <section id="about" class="bg-light-blue dtr-py-7">
        <div class="container">
            <div class="row">
                <!-- column 2 starts -->
                <div class="col-12 col-md-12 wow fadeInRight" data-wow-delay="0.1s">
                    <p class="text-size-xl dtr-mb-4">Frequently Asked Questions</p>

                    <!-- accordion starts -->
                    <div class="dtr-accordion accordion" id="home-accordion">

                        <!-- accordion tab 1 starts -->
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="dtr-mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is the total cost of this course?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#home-accordion">
                                <div class="card-body"> The fee of this course is 2000 pakistani rupees only.
                                </div>
                            </div>
                        </div>
                        <!-- accordion tab 1 ends -->

                        <!-- accordion tab 2 starts -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="dtr-mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo"> How long is the course?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#home-accordion">
                                <div class="card-body"> The course is taught within 1 day, max 4 hours, with one break.
                                </div>
                            </div>
                        </div>
                        <!-- accordion tab 2 ends -->

                        <!-- accordion tab 3 starts -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="dtr-mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree"> Will I become a programmer after this course?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#home-accordion">
                                <div class="card-body"> A very very basic one, this course is to give you an absolute
                                    taste, keh programming hoti kya hai.
                                </div>
                            </div>
                        </div>
                        <!-- accordion tab 3 ends -->
                        <!-- accordion tab 4 starts -->
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="dtr-mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour"> What is the benefit of this course to me, or
                                        my children?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                 data-parent="#home-accordion">
                                <div class="card-body"> The benefit is that within a few hours you'll get to know what
                                    it means to be a programmer, how programming works. So you can make a better career
                                    decision, whether or not programming is what you really want to do in life. It will
                                    also help you to either get started with free online tutorials or via a paid
                                    courses... that teach you advanced programming languages.
                                </div>
                            </div>
                        </div>
                        <!-- accordion tab 3 ends -->

                    </div>
                    <!-- accordion ends -->

                </div>
                <!-- column 2 ends -->

            </div>
        </div>
    </section>

    <!-- about ends
================================================== -->


    <!-- footer starts
================================================== -->





<!-- Site footer -->
<footer class="site-footer" style="border-top:1px solid white;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 site-footer_text">
                <h6 style="font-size: 30px;">Azad Chaiwala</h6>
                <p class="text-justify">We teach you skills which are far better than any RATTA based degree in Pakistan Because "SKILL is the NEW DEGREE"</p>
                <p><a href="<?=app_url()?>/aboutme" style="text-decoration: underline" target="_blank">Know more about Azad Chaiwala</a></p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
                <h6>Contact us</h6>
                <p>Email: <a href="mailto:admin@azadchaiwala.pk"><span style="color: white; ">admin@AzadChaiwala.pk</span></a></p>
                <p style="margin-top: -15px;">Phone: <a href="tel:+923448884899"><span style="color: white;">0344 88 84 899</span></a></p>
                <p style="margin-top: -15px;">Address: <span style="color: white">
                                Azad Chaiwala Institute, <br>
                                Sector F/3 (Near Radio 101) <br>
                                Kotli Road Mirpur, Azad Kashmir</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">All Rights Reserved | Copyright &copy; <a href="https://azadchaiwala.pk" target="_blank">Azad Chaiwala Institute</a> <?=date('Y');?>
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/AzadChaiwala/" target="_blank"><i class="fab fa-facebook-square text-white"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/azadchaiwala" target="_blank"><i class="fab fa-twitter text-white"></i></a</li>
                    <a href="https://www.tiktok.com/@azadchaiwalaofficial/" target="_blank" class="tiktok">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                            <g fill="none" fill-rule="evenodd">
                                <path fill="#00F2EA" d="M20.023 18.111v-1.703a13.17 13.17 0 0 0-1.784-.13c-7.3 0-13.239 5.94-13.239 13.24 0 4.478 2.238 8.442 5.652 10.839a13.187 13.187 0 0 1-3.555-9.014c0-7.196 5.77-13.064 12.926-13.232"/>
                                <path fill="#00F2EA" d="M20.335 37.389c3.257 0 5.914-2.591 6.035-5.82l.011-28.825h5.266a9.999 9.999 0 0 1-.17-1.825h-7.192l-.012 28.826c-.12 3.228-2.778 5.818-6.034 5.818a6.006 6.006 0 0 1-2.805-.694 6.037 6.037 0 0 0 4.901 2.52M41.484 12.528v-1.602a9.943 9.943 0 0 1-5.449-1.62 10.011 10.011 0 0 0 5.45 3.222"/>
                                <path fill="#FF004F" d="M36.035 9.305a9.962 9.962 0 0 1-2.461-6.56h-1.927a10.025 10.025 0 0 0 4.388 6.56M18.239 23.471a6.053 6.053 0 0 0-6.046 6.046 6.05 6.05 0 0 0 3.24 5.352 6.007 6.007 0 0 1-1.144-3.526 6.053 6.053 0 0 1 6.046-6.047c.623 0 1.22.103 1.784.28v-7.343a13.17 13.17 0 0 0-1.784-.13c-.105 0-.208.006-.312.008v5.64a5.944 5.944 0 0 0-1.784-.28"/>
                                <path fill="#FF004F" d="M41.484 12.528v5.59c-3.73 0-7.185-1.193-10.007-3.218v14.617c0 7.3-5.938 13.239-13.238 13.239-2.821 0-5.437-.89-7.587-2.4a13.201 13.201 0 0 0 9.683 4.225c7.3 0 13.239-5.939 13.239-13.238V16.726a17.107 17.107 0 0 0 10.007 3.218V12.75c-.72 0-1.42-.078-2.097-.223"/>
                                <path fill="#FFF" d="M31.477 29.517V14.9a17.103 17.103 0 0 0 10.007 3.218v-5.59a10.011 10.011 0 0 1-5.449-3.223 10.025 10.025 0 0 1-4.388-6.56h-5.266L26.37 31.57c-.121 3.228-2.778 5.819-6.035 5.819a6.038 6.038 0 0 1-4.901-2.52 6.05 6.05 0 0 1-3.241-5.352 6.053 6.053 0 0 1 6.046-6.046c.622 0 1.219.102 1.784.28v-5.64c-7.156.168-12.926 6.036-12.926 13.232 0 3.48 1.352 6.648 3.555 9.014a13.16 13.16 0 0 0 7.587 2.399c7.3 0 13.238-5.939 13.238-13.239"/>
                            </g>
                        </svg>
                    </a>
                    <li><a class="youtube" href="https://www.youtube.com/user/AzadChaiwala" target="_blank"><i class="fab fa-youtube text-white"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/azadchaiwala" target="_blank"><i class="fab fa-instagram text-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>







    
    <!-- footer ends
================================================== -->

</div>
<!-- #dtr-wrapper ends -->
























<!-- JS FILES -->
<script src="<?=app_url()?>/assets/html/js/jquery.min.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/bootstrap.min.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/jquery.easing.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/smooth-scroll.min.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/swiper.min.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/venobox.min.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/select2.min.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/jquery.form.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/wow.min.js" type="text/javascript"></script>
<script src="<?=app_url()?>/assets/html/js/custom.js" type="text/javascript"></script>
<script>
    new WOW().init();
    $(document).ready(function () {
        $(document).on("change", ".payment_method", function () {
            if ($(this).val() == "") {
                $(".transaction_id").hide();
            } else {
                $(".transaction_id").show();
            }
        });
    });
</script>
</body>
</html>