	<section class="topsec">
		<div class="topsecd" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="topbanner" >
							<h1>SKILL IS THE <span>NEW DEGREE</span></h1>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-6">
						<p>Don't waste your time and your parents hard earned money on useless, outdated, theory based degrees. We provide practical Classroom Based Training of IT Skills in as little as 2 weeks to a few months. Skills that are in huge demand within and outside of Pakistan. Enabling you to start earning only in a short period.</p>
					</div>
					<div class="col-lg-6" >
						<div>
							<p  class="urdu" style="line-height: initial;">
							اپنا قیمتی وقت اور ماں باپ کی حلال کی کمائی فضول، پرانی اور صرف تھیوری پر مشتمل ڈگری پر ضائع نہ کریں۔ ہم آپ کو کلاس رومز میں بیٹھا کر دو ہفتے سے چند مہینوں میں وہ آئی ٹی سکلز سیکھاتے ہیں جو پاکستان اور بیرون ملک ڈیمانڈ میں بھی ہیں اور جن کی وجہ سے آپ کچھ ہی عرصہ میں کمانا شروع کر سکتے ہیں۔
 
						</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- course section -->
	<section >
		<div class="courses">
			<div class="container courh">
				<h2>COURSES</h2>
				<div class="divider"></div>
				<div class="row">
					<?php foreach($courses as $c){ ?>
					<div class="col-lg-4 col-md-4">
						<a href="<?=app_url()?>/course/<?=$c['slug'];?>">
						    <!-- Post-->
						    <div class="post-module hover">
						      <!-- Thumbnail-->
						      <div class="thumbnail">
						        <img src="<?=app_url()?>/getImage?i=<?=$c['id']?>&t=course"/>
						      </div>
						      <!-- Post Content-->
						      <div class="post-content">
						        <div class="category"><?=number_format($c['fee']);?> <small class="text-white">pkr</small></div>
						        <h3 class="title"><?=$c['course_name']?> (<?=$c['duration'];?>)</h3>
						        <p class="description"><?=add3Dots($c['course_description'], 130)?></p>
						      </div>
						    </div>
						  </a>
					</div>
					<?php } ?>
				</div>
			</div>
		</div>
	</section>
	<!-- course section end -->

	<section class="ccback">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 col-center m-auto oned">
					<h2 >WHAT PEOPLE SAY ABOUT AZAD CHAIWALA</h2>
					<div id="myCarousel1" class="carousel slide" data-ride="carousel">
						<!-- Carousel indicators -->
						<ol class="carousel-indicators">
							<?php $sn = 0; foreach($review as $r){ $sn++; if($sn == 1){ ?>
							<li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
							<?php }else{ ?>
							<li data-target="#myCarousel1" data-slide-to="1"></li>
							<?php } } ?>
						</ol>   
						<!-- Wrapper for carousel items -->
						<div class="carousel-inner">
							<?php $sn = 0; foreach($review as $r){ $sn++;
								if($sn == 1){
							?>
							<div class="item carousel-item active">
								<div class="img-box"><img src="<?=app_url()?>/getImage?i=<?=$r['id']?>&t=review" alt=""></div>
								<p class="overview"><b><?=$r['person_name'];?></b></p>
								<p class="testimonial"><?=$r['description'];?></p>
								
							</div>
							<?php }else{ ?>
							<div class="item carousel-item">
								<div class="img-box"><img src="<?=app_url()?>/getImage?i=<?=$r['id']?>&t=review" alt=""></div>
								<p class="overview"><b><?=$r['person_name'];?></b></p>
								<p class="testimonial"><?=$r['description'];?></p>
								
							</div>
							<?php } } ?>
						</div>
						<!-- Carousel controls -->
						<a class="carousel-control left carousel-control-prev" href="#myCarousel1" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="carousel-control right carousel-control-next" href="#myCarousel1" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-5 col-center m-auto">
					<h2>SUCCESS STORY</h2>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Carousel indicators -->
						<ol class="carousel-indicators">
							<?php $sn = 0; foreach($review as $r){ $sn++; if($sn == 1){ ?>
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<?php }else{ ?>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<?php } } ?>
						</ol>   
						<!-- Wrapper for carousel items -->
						<div class="carousel-inner">
							<?php $sn = 0; foreach($review as $r){ $sn++;
								if($sn == 1){
							?>
							<div class="item carousel-item active">
								<div class="img-box"><img src="<?=app_url()?>/getImage?i=<?=$r['id']?>&t=review" alt=""></div>
								<p class="overview"><b><?=$r['person_name'];?></b></p>
								<p class="testimonial"><?=$r['description'];?></p>
								
							</div>
							<?php }else{ ?>
							<div class="item carousel-item">
								<div class="img-box"><img src="<?=app_url()?>/getImage?i=<?=$r['id']?>&t=review" alt=""></div>
								<p class="overview"><b><?=$r['person_name'];?></b></p>
								<p class="testimonial"><?=$r['description'];?></p>
								
							</div>
							<?php } } ?>
						</div>
						<!-- Carousel controls -->
						<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>