<section class="paymentspage text-center">
	<div class="container mt-4">
		<h1>Our <span style="font-size: 2.5rem; color: var(--main-color)">Payment Accounts</span> are as follows</h1>
		<div class="row">
			<div class="col-12 col-lg-6 col-md-6 col-sm-6 mt-4">
				<div class="card">
					<div class="card-body">
						<img src="<?=app_url()?>/assets/img/dubai-logo.png" class="img-fluid">
						<div class="table-responsive mt-4">
							<table class="table text-left">
								<tr>
									<td><b>Bank Name</b></td>
									<td>Dubai Islamic Bank</td>
								</tr>
								<tr>
									<td><b>Account Title</b></td>
									<td>Azad Chaiwala Institute</td>
								</tr>
								<tr>
									<td><b>Account Number</b></td>
									<td>032045 4038006</td>
								</tr>
								<tr>
									<td><b>SWIFT</b></td>
									<td>DUIBPKKAXXX</td>
								</tr>
								<tr>
									<td><b>IBAN</b></td>
									<td>PK25DUIB0000000454038006</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div style="text-align: justify">
					<code><b>IMPORTANT:</b> You must add reference STUDENTS NAME when making any payment to us. Not doing so will cause unnecessary delay and you may mis out on your choice of batch</code>
				</div>
			</div>
			<div class="col-12 col-lg-6 col-md-6 col-sm-6 mt-4">
				<div class="card">
					<div class="card-body">
						<img src="<?=app_url()?>/assets/img/paypal.png" class="img-fluid">
						<div class="table-responsive mt-4">
							<table class="table text-left">
								<tr>
									<td><b>Account Title</b></td>
									<td>Rivers of Honey LTD</td>
								</tr>
								<tr>
									<td><b>Account Email</b></td>
									<td>PayPal@Chaiwala.com</td>
								</tr>
								<tr>
									<td colspan="2">
										<!-- Set up a container element for the button -->
										<div id="paypal-button-container"></div>

										<!-- Include the PayPal JavaScript SDK -->
										<script src="https://www.paypal.com/sdk/js?client-id=Aeql447eX-lHXVikvdFq0cBWaY1r2zGR9GfmizOFrkdJ0r9CAr1mtqTvcARpJ-FJqJssiq9GKpxSzCRq&currency=USD"></script>

										<script>
											paypal.Buttons({
												style: {
													shape: 'rect',
													color: 'gold',
													layout: 'vertical',
													label: 'paypal',

												},
												createOrder: function(data, actions) {
													return actions.order.create({
														purchase_units: [{
															amount: {
																value: '10'
															}
														}]
													});
												},
												onApprove: function(data, actions) {
													return actions.order.capture().then(function(details) {
														alert('Transaction completed by ' + details.payer.name.given_name + '!');
													});
												}
											}).render('#paypal-button-container');
										</script>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>