<section class="paymentspage text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12" id="toppaymenttext">
				<h1>Our Bank <span>Account Information</span> is as follows</h1>
				<div class="text-left">
					<p><b>Account Name:</b> Azad Chaiwala Institute</p>
					<p><b>Bank:</b> Dubai Islamic Bank</p>
					<p><b>Account Number:</b> 032045 4038006
					<p><b>SWIFT:</b> DUIBPKKAXXX</p>
					<p><b>iBan:</b> PK25DUIB0000000454038006</p>
					<p><b>IMPORTANT:</b> You must add reference STUDENTS NAME when making any payment to us. Not doing so will cause unnecessary delay and you may mis out on your choice of batch</p>
				</div>
			</div>
		</div>
	</div>
</section>