<section class="Course video-course">
    <!-- video section and enroll section -->
    <div class="container game-section"
         style="background: linear-gradient(to right bottom, rgba(108, 125, 183, 1), rgba(108, 125, 183, 0.7)), url(<?=app_url()?>/assets/img/graphics/dots.png);">
        <div class="row ">
            <div class="col-lg-6 ">
                <div class="game__section-video mt-">
                    <img alt=" php course image of azadchaiwala" class="img-fluid"
                         src="<?=app_url()?>/assets/img/php/php-final.jpg">
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="php__section-info">
                    <h1>Become A Web Developer (WEB SOFTWARE ENGINEER) in 2 Months</h1>
                    <p>Our course is for anyone who is looking for higher education but does not want to waste 16 lakh
                        rupees and 6 years of their precious youth on ratta in colleges & universities. This course will
                        teach you to become a skilled Web Developer. So you can get a job or begin a profitable career
                        in freelancing in no time.
                    </p>
                    <div class="game-enroll-button">
                        <?php if(count($batch) == 0){ ?>
                        <a class="btn btn-lg btn-block" data-target="#myModal" data-toggle="modal" href="#"><span>Change Your Life </span>Enroll
                            Now</a>
                        <?php }else{ ?>
                        <a class="btn btn-lg btn-block" href="<?=app_url()?>/course-registration/<?=$slug?>"><span>Change Your Life </span>Enroll
                            Now</a>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- what will you learn -->
    <div class="container php-will-learn">
        <h3>What will you learn?</h3>
        <div class="row">
            <div class="col-lg-6 game-will__learn-text">
                <ul>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to create web pages in HTML</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to style web pages in CSS</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i>
                        <span>Learn Object Oriented Programming in PHP.</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to create and use Database (SQL and others).</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to create MVC structure.</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to do PHP APIs development.</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 game-will__learn-text">
                <ul>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to implement PHP security.</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to use Bootstrap for responsive web pages.</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to use AJAX to load data without refreshing.</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i>
                        <span>How to Debug your code to find errors.</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>Hand on experience on project development.</span>
                    </li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to Host your website or Application for public.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end what will you learn -->
    <!-- What You Will Lear Section Start here -->
    <div class="container game-learn-section">
        <div class="row">
            <div class="col-lg-3">
                <div class="game-learn php-course-for">
                    <h3>This course is for you</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>If you are looking for a higher education but don’t want to waste more than 16 lakh and 6 years of your precious youth on RATTA MAAL in colleges & universities.</span>
                        </li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>If you want a better, cheaper, quicker alternative to software engineering degree.</span>
                        </li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>If you want to become a skilled Web Developer. So you can get a job or begin a profitable career in freelancing in no time.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="game-learn php-course-benefit">
                    <h3>What Are The Benefits?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will learn a valuable skill in only 2 months. (not 6 years of college/university, after school).</span>
                        </li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i>
                            <span>You will get a mega confidence boost.</span></li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to develop web based software's, websites, apps etc</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="game-learn php-course-return">
                    <h3>What is your return on investment (ROI is very high) </h3>
                    <ul>

                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>The course fee is only 200,000 Rupees.</span>
                        </li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>After completion & practicing your skills
                            for a few months, you will be good enough to be hired as a Junior Web developer for a minimum
                            of 20,000 to 25,000 / month.</span>
                        </li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>Once your experience builds, in 6 months
                            or so, expect a minimum monthly salary of 40,000.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="game-learn php-course-notdo">
                    <h3>This course is not for?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-times text-white pr-2"></i> <span>Not RATTA based, everything is practical.</span>
                        </li>
                        <li class="d-flex"><i class="fas fa-times text-white pr-2"></i> <span>Not going to waste many of your qeemti years.</span>
                        </li>
                        <li class="d-flex"><i class="fas fa-times text-white pr-2"></i> <span>Not for anyone looking for a certificate. (certificates are only available upon request and subject to charges)</span>
                        </li>
                        <li class="d-flex"><i class="fas fa-times text-white pr-2"></i> <span
                                style="line-height: initial;">Not for anyone who cannot use a computer. But don't worry we have a <a
                                href="<?=app_url()?>/course/basic-computer-course"
                                style="color:blue; text-decoration: underline">Basic Computer Course</a></span>
                        </li>
                        <li class="d-flex"><i class="fas fa-times text-white pr-2 "></i>
                            <span>Existing Web Developers.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Our instructure area -->
    <div class="container game-our-insturcture">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="game-our__instructure-main" style="border: 0px;">
                    <div class="row">
                        <div class="col-lg-6">
                            <img alt="Ali mir Instructor at AzadChaiwala"
                                 class="img-fluid" src="<?=app_url()?>/assets/teacher_images/farooq.jpg">
                        </div>
                        <div class="col-lg-6">
                            <h3>Instructor: Farooq Akram</h3>
                            <p>
                                is a 34 years old programmer with over 14+ years of practical experience.
                                Having worked on many projects, from simple CRUD application to IOT based web apps.
                                Farooq has also worked with GIZ (The Technical Education Authority of Germany) to write
                                course manuals
                                <span id="dotst">...</span><span id="moret"> for institutes.
                                He has developed this course with the aim to put together
                                something that works for everyone regardless of their age and level of education, this
                                course will build you up from the basics all the way up to a respectable mid level
                                coder. In Farooq's own words "My full effort will go into equipping my students with
                                skills that will give them a genuine feeling of achievement, open a multitude of in
                                demand career paths for them, in the shortest time possible in the Computer Science &
                                Programming industry".
                                </span>
                            </p>
                            <p id="myBtnt" onclick="myFunctiont()">Read more</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="game-our__instructure-main" style="border: 0px;">
                    <div class="row">
                        <div class="col-lg-6">
                            <img alt="Zain Instructor at AzadChaiwala"
                                 class="img-fluid" src="<?=app_url()?>/assets/teacher_images/awais.jpg">
                        </div>
                        <div class="col-lg-6">
                            <h3>Instructor: Awais Liaqat</h3>
                            <p>
                                He is a 24-Year-old the Award Winning Web Developer having more than 4 Years of
                                experience in Web Systems and Development.
                                He won the competition back in 2016 from the students of 57 Universities.
                                He developed some really big enterprise-level <span id="dotst1">...</span><span
                                    id="moret1"> applications that are being used in the industries of Pakistan,
                                Qatar, USA, India, Dubai and many other countries
                                </span>
                            </p>
                            <p id="myBtnt1" onclick="myFunctiont1()">Read more</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- success story area -->
    <!-- <div class="container video-success-course text-center">
        <h2 class="text-center">Success Stories</h2>
        <div class=" row">
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="success story of graphic designer at azadchaiwala" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="success story of graphic designer at azadchaiwala" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="success story of graphic designer at azadchaiwala" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- success story area end -->
    <!-- course feature section -->
    <div class="container game-features-course text-center">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2 p-1">
                        <div class="game-features__course-details">
                            <span class="material-icons md-36">
                                monetization_on
                            </span>
                            <h3>Fee</h3>
                            <p>200,000 Rupees</p>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-3 p-1">
                        <div class="game-features__course-details">
                            <span class="material-icons md-48">alarm</span>
                            <h3>Next Batch Start</h3>
                            <?php if(count($batch) > 0){ ?>
                            <p>(<?=date('d-m-Y', strtotime($batch[0]['start_date']));?>)
                                <br>(<?=date('F d, Y', strtotime($batch[0]['start_date']));?>)</p>
                            <?php }else{ ?>
                            <p><a data-target="#myModal" data-toggle="modal" href="#">Click for details</a></p>
                            <?php } ?>
                            <!-- modal -->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog ">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <!-- Modal body -->
                                        <div class="modal-body text-left">
                                            <button class="close" data-dismiss="modal" style="font-size:30px;"
                                                    type="button">&times;
                                            </button>
                                            <div class="text-center mt-2">
                                                <h3 class="font-weight-bold ">ٱلْحَمْدُ لِلَّٰهِ</h3>
                                                <p>All batches are full. We are still awaiting to announce the next
                                                    dates. If you would like to be contacted when new dates announced
                                                    Please fill in your details</p>
                                            </div>
                                            <form class="needs-validation pop-form" novalidate>
                                                <div class="form-row">
                                                    <div class="col-md-12 mb-12">
                                                        <input class="form-control" placeholder="Enter Your Name"
                                                               required type="text">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-12 mb-12">
                                                        <input class="form-control" placeholder="Enter Your Email"
                                                               required type="email">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-12 mb-12">
                                                        <input class="form-control" placeholder="Enter your Number"
                                                               required type="text">
                                                    </div>
                                                </div>
                                                <button class="btn btn-success" type="submit">Submit Details</button>
                                            </form>
                                        </div>
                                        <!-- Modal footer -->
                                    </div>
                                </div>
                            </div>
                            <!-- modal end -->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 p-1">
                        <div class="game-features__course-details">
                            <span class="material-icons md-48">
                                supervisor_account
                            </span>
                            <h3>Class Size</h3>
                            <?php if(count($batch) > 0){ ?>
                            <p><?=$batch[0]['total_students']?> students Max each class</p>
                            <?php }else{ ?>
                            <p>10-12 students max each class</p>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 p-1">
                        <div class="game-features__course-details">
                            <span class="material-icons md-48">alarm</span>
                            <h3>Duration</h3>
                            <?php if(count($batch) > 0){ ?>
                            <p><?=hoursdiff($batch[0]['start_time'], $batch[0]['end_time']); ?> hours per
                                day, <?=daysdiff($batch[0]['start_date'], $batch[0]['end_date']); ?> Days</p>
                            <?php }else{ ?>
                            <p>4 hours per day, 2 Months</p>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 p-1">
                        <div class="game-features__course-details">
                            <a href="<?=app_url()?>/accommodation">
                                <span class="material-icons md-48">house</span>
                                <h3>Accommodation</h3>
                                <p>Is available subject to availability</p>
                                <p class="link-accommodation">Read More</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 d-flex flex-row align-items-center justify-content-center">
                <div class="game-features__course-details graphic-enrol-button">
                    <?php if(count($batch) == 0){ ?>
                    <a class="btn btn-lg btn-block" data-target="#myModal" data-toggle="modal" href="#">Enroll Now</a>
                    <?php }else{ ?>
                    <a class="btn btn-lg btn-block" href="<?=app_url()?>/course-registration/<?=$slug?>">Enroll Now</a>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
    <!-- course feature section end here -->


    <!-- why learn from us -->
    <div class="container game-why-us text-center">
        <div class="row">

            <div class="col-lg-12 game-why__us-text">
                <h2>Why are we some of the best people to teach you?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 offset-md-3 offset-lg-3">
                <div class="game-why__us-results">
                    <img alt="fog logo" class="img-fluid" src="<?=app_url()?>/assets/img/game/fog.png">
                    <h4>over 2 billions</h4>
                    <p>Users</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="game-why__us-results">
                    <h3 style="color: white; margin-top: 30px; font-weight: 700">SECOND WIFE & Marriage Networks</h3>

                    <h4>over 5 Lakh+ Users</h4>
                    <p>Registered</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end why learn from us -->


    <!-- testimonials -->
    <!-- <div class="container video-testimonials-course text-center">
        <h2 class="text-center">Testimonials</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials about the azadchaiwala institute">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials about the azadchaiwala institute">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials about the azadchaiwala institute">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- testimonials end here -->

    <!-- equipments start here-->
    <div class="container php-equipments-course">
        <h2 class="text-center">Photos of our web development classroom and institute</h2>
        <div class="row">
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/1.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/1s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/2.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/2s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/3.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/3s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/4.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/4s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/5.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/5s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/6.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/6s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/7.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/7s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/8.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/8s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/9.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/9s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/10.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/10s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/11.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/11s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/12.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/12s.jpg">
                    </a>
                </div>
            </div>


        </div>
        <!-- another row -->
        <div class="row">
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/13.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/13s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/14.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/14s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/15.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/15s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/16.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/16s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/17.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/17s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/18.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/18s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/25.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/25s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/26.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/26s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/27.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/27s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/28.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/28s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/29.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/29s.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-4 col-3">
                <div class="php-equipments-images">
                    <a data-gallery="gallery" data-toggle="lightbox" href="<?=app_url()?>/assets/img/php/30.jpg">
                        <img alt="AzadChaiwala Institute graphic designer class" class="img-fluid"
                             src="<?=app_url()?>/assets/img/php/30s.jpg">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- equipments end here -->

    <!-- faqs section start here -->
    <div class="container game-faqs-course">
        <h2 class="text-center">Frequently Asked Question</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="game-faqs-course-inner">
                    <h4>When will the course start & finish?</h4>
                    <?php if(count($batch) > 0){ ?>
                    <p>The next batch for this course will start on
                        (<?=date('F d, Y', strtotime($batch[0]['start_date']));?>) and end on
                        (<?=date('F d, Y', strtotime($batch[0]['end_date']));?>).. You can see all future batches on the
                        <a href="<?=app_url()?>/course-registration/<?=$slug?>">signup page</a>.</p>
                    <?php }else{ ?>
                    <p><a data-target="#myModal" data-toggle="modal" href="#">Click here to get details for next
                        batch.</a></p>
                    <?php } ?>
                </div>
                <div class="game-faqs-course-inner">
                    <h4>How Quickly will I See results?</h4>
                    <p>You will start seeing the results of your skills almost from day one. You will finally come to
                        know what real education is and it has nothing to do with memorizing boring textbooks. You will
                        immediately feel proud of yourself and your own serve worth will go up. With regards to earning
                        from your skills, that depends on multiple factors. The first factor is how fast of a learner
                        you are. The second factor is how much practice you do after the course is finished. We
                        generally recommend not applying for any jobs or starting your freelance career until you have
                        practiced and sharpened your skills for at least one month. During that time, we'd like you to
                        focus on building a quality portfolio of your work.

                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="game-faqs-course-inner">
                    <h4>How much does accommodation cost?</h4>
                    <p>For the duration of this course the accommodation cost is Rupees 12,000 for a total of 2 Months
                        (6000 per month).
                        We do not provide food. Our accommodation is only available to our students & is subject to any
                        vacancies. To book or for further help with your accommodation requirement, you may call us
                        during our open hours. Our staff member will gladly assist you with your needs. For more detail
                        visit <a href="<?=app_url()?>/accommodation" target="_blank">Accommodation Details</a></p>
                </div>
                <div class="game-faqs-course-inner">
                    <h4>Do I need to buy text book?</h4>
                    <p>No, because hum aap ko Web Development paraateh nahi but rather sikhate hain. Ratta is banned at
                        our
                        institute.</p>
                </div>
                <div class="game-faqs-course-inner">
                    <h4>Are there any course requirements?</h4>
                    <p>Yes, you must be able to understand English and you must be able to use a computer, up to
                        mid-level at-least.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Faqs section end here -->

    <!-- enrollNow -->
    <div class="container graphic_lastenroll-now text-center ">
        <h2>Poori information mil gayi? Abh Skill Seekho Aur Life Badlo :)</h2>
        <?php if(count($batch) == 0){ ?>
        <a class="btn btn-lg " data-target="#myModal" data-toggle="modal" href="#">Enroll Now <i
                class="fas fa-angle-double-right"></i></a>
        <?php }else{ ?>
        <a class="btn btn-lg " href="<?=app_url()?>/course-registration/<?=$slug?>">Enroll Now <i
                class="fas fa-angle-double-right"></i></a>
        <?php } ?>
    </div>
</section>