<section class="Course video-course">
    <!-- top video section -->
    <div class="container video-section">    
        <div class="row ">
            <div class="col-lg-6 ">
                <div class="video__section-video" >
                    <video style="width:100%;" controls  autoplay muted  onloadstart="this.volume=0.2">
                        <source src="<?=app_url()?>/assets/img/videography/video/intro.mp4" type="video/mp4">
                    </video>
<!--                    <img src="<?=app_url()?>/assets/img/videography/video.jpg" alt="video graphy course" class="img-fluid">-->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="video__section-info">
                    <h1>Learn Videography in Just (2 Weeks)</h1>
                    <p>
                        Our course helps 16-35 year old people, learn the valuable skill of video editing and videography. 
                        So they can be competent enough to get a job, start their own youtube channel or 
                        begin a profitable career in freelancing in order to earn foreign currency.
                    </p>
                    <div class="video-enroll-button">
                        <a class="btn btn-lg btn-block" href="<?=app_url()?>/course-registration/<?=$slug?>"><span>Change Your Life </span>Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of top video section -->
    <!-- what will you learn -->
    <div class="container video-will-learn">
        <h3>What will you learn?</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 video-will__learn-text">
                <ul>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to edit videos.</span></li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to use and film with DSLR Cameras.</span></li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to uses various camera lenses</span></li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to use green screens</span></li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to record high quality sound</span></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 video-will__learn-text">
                <ul>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to Achieve best Light Setup.</span></li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to fly and film with a drone.</span></li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to use and film with teleprompter.</span></li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>How to become a freelancer.</span></li>
                    <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>etc etc</span></li>
                </ul>
            </div>
        </div>        
    </div>
    <!-- end what will you learn -->

    <div class="container video-learn-section" style="margin-top:0px;">     
        <div class="row" >
            <div class="col-lg-3">
                <div class="video-learn video-course-for" >
                    <h3>Who is the Course For?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who wants to be skilled.</span></li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who wants to make money</span></li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who is demotivated</span></li>
                        <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who wants to start a youtube channel</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="video-learn video-course-benefit" >
                    <h3>What Are The Benefits?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will learn an in demand skill in only 2 weeks.</span></li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will get a mega confidence boost.</span></li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>You will be able to make money in a very short period. By either getting a job or freelancing.</span></li>
                    </ul>
                </div> 
            </div>
            <div class="col-lg-3">
                <div class="video-learn video-course-return" >
                    <h3>The return on investment (ROI is very high)</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>The course fee is only 40,000</span></li>
                        <li class="d-flex"><i class="fas fa-check pr-2"></i> <span>After completion & practicing your skills for only 30 days, you will be good enough to be hired as a junior video editor or videographer for a minimum of 15-20,000 per month.</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="video-learn video-course-notdo" >
                    <h3>This course is not for?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-times pr-2"></i> <span>No Ratta, everything is practical.</span></li>
                        <li class="d-flex"><i class="fas fa-times pr-2"></i> <span>Not wasting your qeemti years.</span></li>
                        <li class="d-flex"><i class="fas fa-times pr-2"></i> <span>Cheaper than most schools, colleges and universities.</span></li>
                    </ul>
                </div>
            </div>     
        </div>
    </div>
    <!-- Our instructure area -->
    <div class="container video-our-insturcture" >

        <h2 class="text-center" >Our Instructor</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="video-our__instructure-main">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<?=app_url()?>/assets/teacher_images/arslan.jpg" alt="teacher image" class="img-fluid">
                        </div>
                        <div class="col-lg-6 " >
                            <h3>Instructor: Arslan </h3>
                            <p> 
                                started freelancing in 2016. He began working on UpWork first and then moved onto Fiverr. He has completed over 900 paid projects on Fiverr and over 100 projects on UpWork. He is proficient in Photoshop <span id="dotst">...</span><span id="moret">& Video Editing. Overall he has 5 years experience in video editing and 2 year experience in photo editing.
                                </span>
                            </p>
                            <p onclick="myFunctiont()" id="myBtnt">Read more</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="video-our__instructure-main d-flex">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<?=app_url()?>/assets/teacher_images/157909819620377545615e1f2053e69dd.jpg" alt="teacher image" class="img-fluid">
                        </div>
                        <div class="col-lg-6 " >
                            <h3>Instructor: Khizzar</h3>
                            <p> 
                                is very creative and constantly learning new techniques and technologies in the videography world, in order to continue improving his own skill set and that of our students. Khizzar has been a videographer <span id="dotst1">...</span><span id="moret1">for over 5 years and has worked on close to 1000 videos in his career. His videos of Azad Bhai have seen tens of millions of views on Youtube & Facebook.
                                </span>
                            </p>
                            <p onclick="myFunctiont1()" id="myBtnt1">Read more</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>    
        <!-- success story area -->
    <!-- <div class="container video-success-course text-center">
        <h2 class="text-center">Success Stories</h2>     
        <div class=" row">
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p> 
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail"> 
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>       
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail"> 
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>      
                </div>
            </div>
        </div> 
    </div> -->

    <div class="container video-success-course text-center">
        <h2 class="text-center">Success Stories</h2>     
        <div class=" row">
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail">
                    <video style="width:100%;" controls  onloadstart="this.volume=0.2">
                        <source src="<?=app_url()?>/assets/img/videography/video/success1.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail"> 
                    <video style="width:100%;" controls  onloadstart="this.volume=0.2">
                        <source src="<?=app_url()?>/assets/img/videography/video/success2.mp4" type="video/mp4">
                    </video>       
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="video-success-course-detail"> 
                    <video style="width:100%;" controls  onloadstart="this.volume=0.2">
                        <source src="<?=app_url()?>/assets/img/videography/video/success3.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div> 
    </div>
    <!-- success story area end -->
    <!-- course feature section -->
    <div class="container video-features-course text-center">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="video-features__course-details">
                            <span class="material-icons md-48">
                                monetization_on
                            </span>
                            <h3>Fee</h3>
                            <p>40,000 Rupees</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="video-features__course-details">
                            <span class="material-icons md-48">alarm</span>
                            <h3>Next Batch Start</h3>
                            <?php if(count($batch) > 0){ ?>
                            <p>(<?=date('d-m-Y', strtotime($batch[0]['start_date']));?>)
                                <br>(<?=date('F d, Y', strtotime($batch[0]['start_date']));?>)</p>
                            <?php }else{ ?>
                            <p>Please Call for Details</p>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="video-features__course-details">
                            <span class="material-icons md-48">
                                supervisor_account
                            </span>
                            <h3>Class Size</h3>
                            <?php if(count($batch) > 0){ ?>
                            <p><?=$batch[0]['total_students']?> students Max each class</p>
                            <?php }else{ ?>
                            <p>10-12 students max each class</p>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="video-features__course-details">
                            <span class="material-icons md-48">alarm</span>
                            <h3>Duration</h3>
                            <?php if(count($batch) > 0){ ?>
                            <p><?=hoursdiff($batch[0]['start_time'], $batch[0]['end_time']); ?> hours per day, <?=daysdiff($batch[0]['start_date'], $batch[0]['end_date']); ?> Days</p>
                            <?php }else{ ?>
                            <p>4 hours per day, 2 Weeks</p>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="video-features__course-details">
                            <a href="<?=app_url()?>/accommodation">
                                <span class="material-icons md-48">house</span>
                                <h3>Accomdation</h3>
                                <p>Is avaliable subject to avaliablity</p>
                                <p class="link-accommodation">Read More</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-12 d-flex flex-row align-items-center justify-content-center">
                <div class="video-features__course-details video-enrol-button">
                    <a class="btn btn-lg btn-block" href="<?=app_url()?>/course-registration/<?=$slug?>">  Enroll Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- course feature section end here -->
    <!-- faqs section start here -->
    <div class="container videoo-faqs-course" >
        <h2 class="text-center">Frequently Asked Question</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="videoo-faqs-course-inner">
                    <h4>When will the course start & finish?</h4>
                    <?php if(count($batch) > 0){ ?>
                    <p>The next batch for this course will start on (<?=date('F d, Y', strtotime($batch[0]['start_date']));?>) and end on (<?=date('F d, Y', strtotime($batch[0]['end_date']));?>).. You can see all future batches on the <a href="#">signup page</a>.</p>
                    <?php }else{ ?>
                    <p>Please contact us via email or phone number for next batch details</p>
                    <?php } ?>
                </div>
                <div class="videoo-faqs-course-inner">
                    <h4>How Quickly will I See results?</h4>
                    <p>
                        You will start seeing the results of your skills almost from day one. You will finally come to know what real education is and it has nothing to do with memorizing boring textbooks. You will immediately feel proud of yourself and your own serve worth will go up. With regards to earning from your skills, that depends on multiple factors. The first factor is how fast of a learner you are. The second factor is how much practice you do after the course is finished. We generally recommend not applying for any jobs or starting your freelance career until you have practiced and sharpened your skills for at least one month. During that time, we'd like you to focus on building a quality portfolio of your work.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="videoo-faqs-course-inner">
                    <h4>How much does accommodation cost?</h4>
                    <p>For the duration of this course the accommodation cost is Rupees 3500 for a total of 15 days. We do not provide food. Our accommodation is only available to our students & is subject to any vacancies. To book or for further help with your accommodation requirement, you may call us during our open hours. Our staff member will gladly assist you with your needs.  </p>
                </div>
                <div class="videoo-faqs-course-inner">
                    <h4>Do I need to buy text book?</h4>
                    <p>No, because khum aap ko videography paraateh nahi but rather sikhate hain. Ratta is banned at our institute.</p>
                </div>
                <div class="videoo-faqs-course-inner">
                    <h4>Are there any course requirements?</h4>
                    <p>Yes, you must be able to understand English and you must be able to use a computer, up to mid-level at-least.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Faqs section end here -->
    <!-- why learn from us -->
    <div class="container video-why-us text-center">
        <div class="row">
            
            <div class="col-lg-12 video-why__us-text">
                <h2>Why are we some of the best people to teach you?</h2>
                <p> Besides the immense experience of our instructors, our media company has published over 3000 videos on YouTube Alone. Azad Chaiwala Bhai's own social media credentials are as follow:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="video-why__us-results">
                    <i class="fab fa-youtube fa-3x"></i>
                    <h4>550,000+</h4>
                    <p>Followers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="video-why__us-results">
                    <i class="fab fa-facebook fa-3x"></i>
                    <h4>400,000+</h4>
                    <p>Followers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="video-why__us-results">
                    <i class="fab fa-instagram fa-3x"></i>
                    <h4>10,000+</h4>
                    <p>Followers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="video-why__us-results">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#00F2EA" d="M20.023 18.111v-1.703a13.17 13.17 0 0 0-1.784-.13c-7.3 0-13.239 5.94-13.239 13.24 0 4.478 2.238 8.442 5.652 10.839a13.187 13.187 0 0 1-3.555-9.014c0-7.196 5.77-13.064 12.926-13.232"/>
                            <path fill="#00F2EA" d="M20.335 37.389c3.257 0 5.914-2.591 6.035-5.82l.011-28.825h5.266a9.999 9.999 0 0 1-.17-1.825h-7.192l-.012 28.826c-.12 3.228-2.778 5.818-6.034 5.818a6.006 6.006 0 0 1-2.805-.694 6.037 6.037 0 0 0 4.901 2.52M41.484 12.528v-1.602a9.943 9.943 0 0 1-5.449-1.62 10.011 10.011 0 0 0 5.45 3.222"/>
                            <path fill="#FF004F" d="M36.035 9.305a9.962 9.962 0 0 1-2.461-6.56h-1.927a10.025 10.025 0 0 0 4.388 6.56M18.239 23.471a6.053 6.053 0 0 0-6.046 6.046 6.05 6.05 0 0 0 3.24 5.352 6.007 6.007 0 0 1-1.144-3.526 6.053 6.053 0 0 1 6.046-6.047c.623 0 1.22.103 1.784.28v-7.343a13.17 13.17 0 0 0-1.784-.13c-.105 0-.208.006-.312.008v5.64a5.944 5.944 0 0 0-1.784-.28"/>
                            <path fill="#FF004F" d="M41.484 12.528v5.59c-3.73 0-7.185-1.193-10.007-3.218v14.617c0 7.3-5.938 13.239-13.238 13.239-2.821 0-5.437-.89-7.587-2.4a13.201 13.201 0 0 0 9.683 4.225c7.3 0 13.239-5.939 13.239-13.238V16.726a17.107 17.107 0 0 0 10.007 3.218V12.75c-.72 0-1.42-.078-2.097-.223"/>
                            <path fill="#FFF" d="M31.477 29.517V14.9a17.103 17.103 0 0 0 10.007 3.218v-5.59a10.011 10.011 0 0 1-5.449-3.223 10.025 10.025 0 0 1-4.388-6.56h-5.266L26.37 31.57c-.121 3.228-2.778 5.819-6.035 5.819a6.038 6.038 0 0 1-4.901-2.52 6.05 6.05 0 0 1-3.241-5.352 6.053 6.053 0 0 1 6.046-6.046c.622 0 1.219.102 1.784.28v-5.64c-7.156.168-12.926 6.036-12.926 13.232 0 3.48 1.352 6.648 3.555 9.014a13.16 13.16 0 0 0 7.587 2.399c7.3 0 13.238-5.939 13.238-13.239"/>
                        </g>
                    </svg>
                    <h4>50,000+</h4>
                    <p>Followers</p>
                </div>
            </div>
            
        </div>
    </div>
    <!-- end why learn from us -->









    <!-- testimonials -->
    <div class="container video-testimonials-course text-center">
        <h2 class="text-center">What Our Students Say About Us</h2>
        
            <div class="autoplay text-center">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/videography/testimonial/1.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Raja Zulqarnain Asif </h3>
                        <p>
                            From Kharian city. Adaab. The most alluring thing I noticed was the complex knowledge was simplified in 
                            a manner that it seep<span id="dots">...</span><span id="more">ed into my heart. Secondly, the management! I have  Never seen such 
                            a dedicated, student oriented  and loving staff ranging from HOD Ma'am Zora 
                            Basharat to Sir Khizzar to Basit Bahi.  AMAZING MASHALLAH....❤</span>
                        </p>
                        <p onclick="myFunction()" id="myBtn">Read more</p>
                    </div>
                </div>
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/videography/testimonial/4.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Hafiz Qamar </h3>
                        <p>
                            Assalam.O.Alaikum my name is Hafiz Qamar I joined the course of Videography from Azad Chaiwala institute.  Before joining the <span id="dots1">...</span><span id="more1"> course I had zero skill but after 
                            fourteen days I have become a videographer and a video editor. Sir Khizzer is a great teacher  his way of teaching is friendly. And the two leactures of Fiverr given 
                            by Sir Arsalan to us were incredible. And the prectical learning  received at the institute of Azad Chaiwala could not be found anywhere in Pakistan in just fourteen 
                            days.
                            </span>
                            
                        </p>
                        <p onclick="myFunction1()" id="myBtn1">Read more</p>
                    </div>
                </div>
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/videography/testimonial/5.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Abdullah Dar  </h3>
                        <p>
                            AOA. I am Abdullah Dar ,a student living in Pakistan who could not compete with the other students in the medical field although <span id="dots2">...</span><span id="more2"> 
                            having 80% marks in his fsc.  I had alot of leisure time which was being wasted, in order to save that precious time and to upgrade 
                            my knowledge in the feild of cameras I wanted to learn videography and this institute was a blessing for me to learn a variety of 
                            things that I could have never learned .The main thing about this institute is the teachers, that they are not only teachers or 
                            our guides but also our role models in practical life as both of them Mr Arsalan and Mr Khizzar are somehow earning from their 
                            respective fields that are both somehow linked with videography . The HOD Ma'am Zora Basharat also treated us like we were all 
                            familiar to each other from a long time . However, My opinion is that if anyone who has support from his/her family(parents) 
                            and wants to learn a good skill which would aid him/her in practical life, in order to earn ,should learn at least 1 skill
                            </span>
                        </p>
                        <p onclick="myFunction2()" id="myBtn2">Read more</p>
                    </div>
                </div>
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/graphics/testimonial/1.jpg" alt="testimonials about the azadchaiwala institute">
                    <div class="video-inner-details-testimonials">
                        <h3>Muhammad Kamran</h3>
                        <p>From Mingora, Sawt. I watched your video and decided to enroll. I found your institute to be very professional.</p>
                    </div>
                </div>
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/graphics/testimonial/2.jpg" alt="testimonials about the azadchaiwala institute">
                    <div class="video-inner-details-testimonials">
                        <h3>Faizan Shabbir</h3>
                        <p>From Faisalabad. ASA. I felt everything was well managed and the teachers and staff were very cooperative.</p>
                    </div>
                </div>
                
                
            </div>
            
            
        
    </div>  
        

    <!-- equipments start here-->
    <div class="container video-equipments-course">
        <h2 class="text-center">Photos of our videography classrooms</h2>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/1.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/1s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/2.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/2s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/3.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/3s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/4b.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/4s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/5.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/5s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/6.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/6s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/7.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/7s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/8.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/8s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/9.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/9s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>

            
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/10.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/10s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/11.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/11s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/12.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/12s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/13.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/13s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/14.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/14s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/15.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/15s.jpg" class="img-fluid" alt="testimonial image">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/16.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/16s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/17.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/17s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/18.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/18s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/19.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/19s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/20.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/20s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/21.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/21s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/22.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/22s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/23.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/23s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/24.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/24s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/25.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/25s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/26.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/26s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/27.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/27s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/28.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/28s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/29.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/29s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/30.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/30s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/31.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/31s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/32.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/32s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/33.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/33s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/34.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/34s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/35.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/35s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/36.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/36s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/37.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/37s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/38.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/38s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/39.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/39s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/40.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/40s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/41b.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/41s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/42.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/42s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/43.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/43s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/44b.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/44s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/45.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/45s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/46.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/46s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/47.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/47s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/48.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/48s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/49b.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/49s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/50.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/50s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/51b.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/51s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/52b.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/52s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="video-equipments-images">
                    <a href="<?=app_url()?>/assets/img/videography/class/53b.jpg" data-toggle="lightbox" data-gallery="gallery">
                        <img src="<?=app_url()?>/assets/img/videography/class/53s.jpg" class="img-fluid" alt="testimonial image">
                    </a>    
                </div>
            </div>

            
        </div>
        
    </div>
    <!-- equipments end here -->
    <!-- enrollNow -->
    <div class="container graphic_lastenroll-now text-center ">
        <h2>Poori information mil gayi? Abh Skill Seekho Aur Life Badlo :)</h2>
        <a href="<?=app_url()?>/course-registration/<?=$slug?>" class="btn btn-lg">Enroll Now <i class="fas fa-angle-double-right"></i></a>
    </div>
</section>