<section class="Course video-course">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video__course-title">
                    <h1>Learn Video Editing, Videography & <br>Freelancing (2 Weeks)</h1>
                    <p>Practical lessons that teach you in-demand skills so you can start making money faster.</p>
                </div>
            </div> 
        </div>
    </div>
        <!-- video section and enroll section -->
    <div class="container video-section">    
        <div class="row ">
            <div class="col-lg-6">
                <div class="video__section-video" style="height: 278px !important; ">
                    <video style="width:100%;" autobuffer autoloop loop controls >
                        <source src="<?=app_url()?>/assets/img/videography/" style="width:500px;height:500px">
                    </video>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="video__section-info">
                    <h3>Course Features</h3>
                   
                    <ul class="list-group video-course-freature-list">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="fa fa-clock fa-1x"> <span class="text-white">Duration</span></span>
                            <span >2 Week</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="fa fa-language fa-1x"> <span class="text-white">Semesters</span></span>
                            <span class="">2(One Each Week)</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="fas fa-money-bill-wave fa-1x"> <span class="text-white">Fee</span></span>
                            <span >Rs. 40,000</span>
                        </li>
                      </ul>
                    <div class="video-enroll-button">
                        <a class="btn btn-lg btn-block">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- What You Will Lear Section Start here -->
    <div class="container video-learn-section">     
        <div class="row " >
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 pl-0 pr-0">
                        <div class="video-learn-border">
                            <div class="video-learn video-course-for" style="min-height: 314px;">
                                <h4>Who is the Course For?</h4>
                                <ul>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who wants to be skilled.</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who wants to make money</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who is demotivated</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who wants to start a youtube channel</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6  pr-0 pl-0">
                        <div class="video-learn-border-black">
                            <div class="video-learn video-course-benefit" style="min-height: 314px;">
                                <h4>What Are The Benefits?</h4>
                                <ul>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>You will learn an in demand skill in only 2 weeks.</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>You will get a mega confidence boost.</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>You will be able to make money in a very short period. By either getting a job or freelancing.</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6  pl-0 pr-0 mt-1">
                        <div class="video-learn-border-black">
                            <div class="video-learn video-course-return" style="min-height: 314px;">
                                <h4>What is your return on investment (ROI)?</h4>
                                <ul>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Very High</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>The course fee is only 40,000</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Anyone who is demotivatide</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>After completion & practicing your skills for only 30 days, you will be good enough to be hired as a junior video editor or videographer for a minimum of 15-20,000 per month.</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6  pr-0 pl-0 mt-1">
                        <div class="video-learn-border">
                            <div class="video-learn video-course-notdo" style="min-height: 314px;">
                                <h4>What we will NOT do?</h4>
                                <ul>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>No Ratta, everything is practical.</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Not wasting your qeemti years.</span></li>
                                    <li class="d-flex"><i class="fas fa-check text-white pr-2"></i> <span>Cheaper than most schools, colleges and universities.</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-you-learn-right">
                    <h3>WHAT WILL YOU LEARN?</h3>
                    <ul>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>You will be able to edit videos</span></li>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>You will be able to use and film with DSLR Cameras</span></li>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>You will be able to uses various camera lenses</span></li>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>You will be able to use green screens</span></li>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>You will be able to record high quality sound </span></li>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>You will be able to Achieve best Light Setup</span></li>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>You will be able to fly and film with a drone</span></li>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>You will be able to use and film with teleprompter  </span></li>
                        <li class="d-flex"><i class="fas fa-check text-dark pr-2"></i> <span>etc etc  </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!-- Our instructure area -->
    <div class="container video-our-insturcture">

        <h2 class="text-center" >Our Instructor</h2>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="video-our__instructure-main">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<?=app_url()?>/assets/teacher_images/157909872620337255985e1f2265ab456.jpg" alt="teacher image" class="img-fluid">
                        </div>
                        <div class="col-lg-6 pl-0" style="min-height: 289px;">
                            <h3>Arslan </h3>
                            <p> 
                                started freelancing in 2016. He began working on UpWork first and then moved onto Fiverr. He has completed over 900 paid projects on Fiverr and over 100 projects on UpWork. He is proficient in Photoshop & Video Editing. Overall he has 5 years experience in video editing and 2 year experience in photo editing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="video-our__instructure-main d-flex">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<?=app_url()?>/assets/teacher_images/157909819620377545615e1f2053e69dd.jpg" alt="teacher image" class="img-fluid">
                        </div>
                        <div class="col-lg-6 pl-0">
                            <h3>Khizzar</h3>
                            <p> 
                                is very creative and constantly learning new techniques and technologies in the videography world, in order to continue improving his own skill set and that of our students. Khizzar has been a videographer for over 5 years and has worked on close to 1000 videos in his career. His videos of Azad Bhai have seen tens of millions of views on Youtube & Facebook.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
        <!-- success story area -->
    <div class="container video-success-course text-center">
        <h2 class="text-center">Success Story</h2>     
        <div class=" row">
            <div class="col-lg-4">
                <div class="video-success-course-detail">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-success-course-detail"> 
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>       
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-success-course-detail"> 
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" class="img-fluid">
                    <h3>New User</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>      
                </div>
            </div>
        </div> 
    </div>
    <!-- success story area end -->
    <!-- course feature section -->
    <div class="container video-features-course text-center">
        <div class="row">
            <div class="col-lg-2">
                <div class="video-features__course-details">
                    <span class="material-icons md-36">
                        monetization_on
                    </span>
                    <h3>Fee</h3>
                    <p>40,000 Rupees</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="video-features__course-details">
                    <span class="material-icons md-48">alarm</span>
                    <h3>Duration</h3>
                    <p>4 hours per day, 2 Weeks</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="video-features__course-details">
                    <span class="material-icons md-48">house</span>
                    <h3>Accomdation</h3>
                    <p>Is avaliable subject to avaliablity</p>
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-row align-items-center justify-content-center">
                <div class="video-features__course-details video-enrol-button">
                    <a class="btn btn-lg btn-block">Enroll Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- course feature section end here -->
    <!-- faqs section start here -->
    <div class="container video-faqs-course" >
        <h2 class="text-center">Frequently Asked Question</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="video-faqs-course-inner">
                    <h4>When will the course start & finish?</h4>
                    <p>The next batch for this course will start on XYZ and end on XYZ date. You can see all future batches on the signup page.</p>
                </div>
                <div class="video-faqs-course-inner">
                    <h4>How Quickly well See I results?</h4>
                    <p>You will start seeing the result of your skills almost from day one, you truly know what an education is and it has nothing to do with memorizing boring textbooks. You will immediately feel proud of yourself and your own serve worth will go up. With regards to earning from your skills, that depends on multiple factors. The first factor is how fast of a learner you are. The second factor is how much practice you do once the course is finished. We generally recommend not applying for any jobs or starting your freelance career until you have practiced
                        and sharpened your skills for at least a month. During that time, we'd like you to focus on  building a quality portfolio of your work.
                        </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="video-faqs-course-inner">
                    <h4>How much does accommodation cost?</h4>
                    <p>For the duration of this course the accommodation cost is Rupees 3500 for a total of 15 days. We do not provide food. Our accommodation is only available to our students & is subject to any vacancies. To book or for further help with your accommodation requirement, you may call us during our open hours. Our staff member will gladly assist you with your needs.  </p>
                </div>
                <div class="video-faqs-course-inner">
                    <h4>Do I need to buy text book?</h4>
                    <p>No, because khum aap ko videography paraateh nahi but rather sikhate hain. Ratta is banned at our institute.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Faqs section end here -->
    <!-- why learn from us -->
    <div class="container video-why-us text-center">
        <div class="row">
            
            <div class="col-lg-8 offset-2 video-why__us-text">
                <h3>Why are we some of the best people to teach you?</h3>
                <p>Why are we some of the best people to teach you? Besides the immense experience of our instructors, our media company has published over 3000 videos on YouTube Alone. Azad Chaiwala Bhai's own social media credentials are as follow:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="video-why__us-results">
                    <i class="fab fa-youtube fa-3x"></i>
                    <h4>550,000+</h4>
                    <p>Followers</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="video-why__us-results">
                    <i class="fab fa-facebook fa-3x"></i>
                    <h4>400,000+</h4>
                    <p>Followers</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="video-why__us-results">
                    <i class="fab fa-instagram fa-3x"></i>
                    <h4>10,000+</h4>
                    <p>Followers</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="video-why__us-results">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#00F2EA" d="M20.023 18.111v-1.703a13.17 13.17 0 0 0-1.784-.13c-7.3 0-13.239 5.94-13.239 13.24 0 4.478 2.238 8.442 5.652 10.839a13.187 13.187 0 0 1-3.555-9.014c0-7.196 5.77-13.064 12.926-13.232"/>
                            <path fill="#00F2EA" d="M20.335 37.389c3.257 0 5.914-2.591 6.035-5.82l.011-28.825h5.266a9.999 9.999 0 0 1-.17-1.825h-7.192l-.012 28.826c-.12 3.228-2.778 5.818-6.034 5.818a6.006 6.006 0 0 1-2.805-.694 6.037 6.037 0 0 0 4.901 2.52M41.484 12.528v-1.602a9.943 9.943 0 0 1-5.449-1.62 10.011 10.011 0 0 0 5.45 3.222"/>
                            <path fill="#FF004F" d="M36.035 9.305a9.962 9.962 0 0 1-2.461-6.56h-1.927a10.025 10.025 0 0 0 4.388 6.56M18.239 23.471a6.053 6.053 0 0 0-6.046 6.046 6.05 6.05 0 0 0 3.24 5.352 6.007 6.007 0 0 1-1.144-3.526 6.053 6.053 0 0 1 6.046-6.047c.623 0 1.22.103 1.784.28v-7.343a13.17 13.17 0 0 0-1.784-.13c-.105 0-.208.006-.312.008v5.64a5.944 5.944 0 0 0-1.784-.28"/>
                            <path fill="#FF004F" d="M41.484 12.528v5.59c-3.73 0-7.185-1.193-10.007-3.218v14.617c0 7.3-5.938 13.239-13.238 13.239-2.821 0-5.437-.89-7.587-2.4a13.201 13.201 0 0 0 9.683 4.225c7.3 0 13.239-5.939 13.239-13.238V16.726a17.107 17.107 0 0 0 10.007 3.218V12.75c-.72 0-1.42-.078-2.097-.223"/>
                            <path fill="#FFF" d="M31.477 29.517V14.9a17.103 17.103 0 0 0 10.007 3.218v-5.59a10.011 10.011 0 0 1-5.449-3.223 10.025 10.025 0 0 1-4.388-6.56h-5.266L26.37 31.57c-.121 3.228-2.778 5.819-6.035 5.819a6.038 6.038 0 0 1-4.901-2.52 6.05 6.05 0 0 1-3.241-5.352 6.053 6.053 0 0 1 6.046-6.046c.622 0 1.219.102 1.784.28v-5.64c-7.156.168-12.926 6.036-12.926 13.232 0 3.48 1.352 6.648 3.555 9.014a13.16 13.16 0 0 0 7.587 2.399c7.3 0 13.238-5.939 13.238-13.239"/>
                        </g>
                    </svg>
                    <h4>50,000+</h4>
                    <p>Followers</p>
                </div>
            </div>
            
        </div>
    </div>
    <!-- end why learn from us -->
    <!-- testimonials -->
    <div class="container video-testimonials-course text-center">
        <h2 class="text-center">Testimonials</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="video-testimonials__course-inner">
                    <img src="<?=app_url()?>/assets/img/app course small real.jpg" alt="testimonials image">
                    <div class="video-inner-details-testimonials">
                        <h3>Bilawal Gul</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ab dolorum, veritatis numquam laborum inventore alias repudiandae, reprehenderit porro magnam placeat corporis cum dolore officia temporibus soluta! Pariatur, praesentium eum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials end here -->
    <!-- equipments start here-->
    <div class="container video-equipments-course">
        <h2 class="text-center">Equipments We Provide you</h2>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/1.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/2.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/3.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/4.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/5.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/6.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/7.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/8.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/9.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>

            
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/12.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/13.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/15.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/16.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/17.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/18.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="video-equipments-images">
                    <img src="<?=app_url()?>/assets/img/institute/19.jpg" class="img-fluid" alt="testimonial image">
                </div>
            </div>
            
        </div>
    </div>
    <!-- equipments end here -->
</section>