<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Complete your Profile</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <?=showMsg('change_password');?>
                <?php if(isset($_SESSION['errors'])){ ?>
                <div class="alert alert-danger">
                    <?php foreach($_SESSION['errors'] as $error){ ?>
                    <li><?=$error?></li>
                    <?php } ?>
                </div>
                <?php unset($_SESSION["errors"]); } ?>
                <form method="post" action="<?=app_url()?>/account/change-password-post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control" autofocus name="old_password" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" name="new_password" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" class="form-control" name="confirm_new_password" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger">Update Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>