<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Enroll your course</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <?=showMsg('enroll_new_course');?>
                <?php if(isset($_SESSION['errors'])){ ?>
                <div class="alert alert-danger">
                    <?php foreach($_SESSION['errors'] as $error){ ?>
                    <li><?=$error?></li>
                    <?php } ?>
                </div>
                <?php unset($_SESSION["errors"]); } ?>
                <form method="post" action="<?=app_url()?>/account/enroll-new-course-post">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Select Course Type</label>
                                <select name="course_type" class="form-control" required>
                                    <option value="1">Online</option>
                                    <option value="2" disabled>Institute - Currently unavailable</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 online_courses">
                            <div class="form-group">
                                <label>Select Course</label>
                                <select name="online_course" class="form-control courses" required>
                                    <?php foreach($courses as $course){
                                        if($course['type'] == "online"){
                                        ?>
                                    <option value="<?=$course['id'];?>"><?=$course['course_name'];?></option>
                                    <?php  } } ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 offline_courses" style="display: none">
                            <div class="form-group">
                                <label>Select Course Type</label>
                                <select name="offline_course" class="form-control courses" required>
                                    <option value="1">VideoGraphy</option>
                                    <option value="2">Graphic Designing</option>
                                    <option value="2">Game Development</option>
                                    <option value="2">Web Development</option>
                                    <option value="2">Mobile App Development</option>
                                    <option value="2">Basic Computer Course</option>
                                    <option value="2">Advance Computer Course</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row to_paste_batches">

                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <h4 class="header-title">Enrollment Details</h4>
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td style="color: green">Course Type:</td>
                        <td>Online</td>
                    </tr>
                    <tr>
                        <td style="color: green">Selected Course:</td>
                        <td>HTML CRASH COURSE</td>
                    </tr>
                    <tr>
                        <td id="batch_name_label" style="color: red">Selected Batch:</td>
                        <td id="batch_name"></td>
                    </tr>
                    <tr>
                        <td id="batch_datetime_label" style="color: red">Batch Date/Time:</td>
                        <td id="batch_datetime"></td>
                    </tr>
                    <tr>
                        <td style="color: green">Course Fee:</td>
                        <td>2,000 pkr</td>
                    </tr>
                    <tr>
                        <td style="color: green">Course Fee (Words):</td>
                        <td>Two Thousand Pakistani Rupees</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="to_copy" style="display: none">
    <div class="col-md-3 col-12 col-lg-3">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <div class="radio my-2">
                    <div class="custom-control custom-radio">
                        <input type="radio" id=":batch_id" data-name=":title" data-date=":date" data-time=":time"
                               name="batch" value=":batch_id" required class="custom-control-input">
                        <label class="custom-control-label" for=":batch_id">
                            :title<br>
                            Date: :date<br>
                            Time: :time</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>