<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Make Payment for Your Enrollment</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <?=showMsg('make_payment');?>
                <?php if(isset($_SESSION['errors'])){ ?>
                <div class="alert alert-danger">
                    <?php foreach($_SESSION['errors'] as $error){ ?>
                    <li><?=$error?></li>
                    <?php } ?>
                </div>
                <?php unset($_SESSION["errors"]); } ?>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h4 class="header-title">Submit Fee Receipt of <strong>(<?=$course['fee'];?> pkr)</strong></h4>
                        <form method="post" action="<?=app_url()?>/account/my-courses/make-payment/post" enctype="multipart/form-data">
                            <input type="hidden" name="enroll_id" value="<?=$enroll['id'];?>">
                            <div class="form-group">
                                <label>Fee Receipt (Image Only)</label>
                                <input type="file" class="form-control" name="fee_receipt"
                                       accept="image/x-png,image/jpeg">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                        <div class="alert alert-danger">
                            <strong>Instructions:</strong>
                            <ul>
                                <li>Send Payment to our bank account (Details below) or see <a
                                        href="<?=app_url()?>/payments" target="_blank">Payment Page <i
                                        class="fa fa-external-link-alt"></i></a></li>
                                <li>Take screenshot or capture from camera and upload in the above form</li>
                                <li>Text on the image must be readable</li>
                                <li>Mention your name on the transaction for faster approval</li>
                                <li>You will be notified via email after approval or rejection of the enrollment</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <td class="bg-primary text-white">Your Course</td>
                                    <td class="text-dark"><?=$course['course_name'];?></td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-white">Course Type</td>
                                    <td class="text-dark"><?=ucfirst($course['type']);?></td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-white">Course Fee</td>
                                    <td class="text-dark"><?=number_format($course['fee']);?> (<?=getPakCurrency($course['fee']);?>)</td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-white">Duration</td>
                                    <td class="text-dark"><?=$course['duration'];?></td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-white">Batch</td>
                                    <td class="text-dark"><?=$batch['name'];?></td>
                                </tr>
                                <tr>
                                    <td class="bg-primary text-white">Start Date/Time</td>
                                    <td class="text-dark"><?=date("d-m-Y", strtotime($batch['start_date']));?> / <?=$batch['start_time'];?></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12">
        <h4 class="header-title">Payment Details</h4>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <h6>Bank Account Details</h6>
                        <div class="table-responsive mt-4">
                            <table class="table text-left">
                                <tr>
                                    <td><b>Bank Name</b></td>
                                    <td>Dubai Islamic Bank</td>
                                </tr>
                                <tr>
                                    <td><b>Account Title</b></td>
                                    <td>Azad Chaiwala Institute</td>
                                </tr>
                                <tr>
                                    <td><b>Account Number</b></td>
                                    <td>032045 4038006</td>
                                </tr>
                                <tr>
                                    <td><b>SWIFT</b></td>
                                    <td>DUIBPKKAXXX</td>
                                </tr>
                                <tr>
                                    <td><b>IBAN</b></td>
                                    <td>PK25DUIB0000000454038006</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <h6>How to Send Fee to our Bank Account using EasyPaisa?</h6>
                        <video controls onloadstart="this.volume=0.2" style="width:100%; height: 280px">
                            <source src="<?=app_url()?>/assets/html/video/easypaisa.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-md-4 col-12">
                        <h6>How to Send Fee to our Bank Account using JazzCash?</h6>
                        <video controls onloadstart="this.volume=0.2" style="width:100%; height: 280px">
                            <source src="<?=app_url()?>/assets/html/video/jazzcash.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>