<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Payment Receipt Submitted</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12 col-md-4 col-lg-4 col-sm-6 offset-md-4 offset-lg-4 offset-sm-3">
        <div class="card m-b-30">
            <div class="card-body">
                Thank You for submitting payment receipt, You will be informed via email about approval and rejection of
                your submissions.
                <br>
                You will be redirected in 10 seconds
                <meta http-equiv = "refresh" content = "10; url = <?=app_url()?>/account/dashboard" />
            </div>
        </div>
    </div>
</div>