<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Backup Database</h1>
        <button type="button" class="btn btn-primary float-right"><i class="fas fa-database"></i> Create Fresh Backup</button>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-12">
            <?php if($_SESSION['admin_role'] == 'admin'){ ?>
            <div class="card border-left-primary">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Backup File</th>
                                    <td>File Size</td>
                                    <th>Modified Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php $a=0; foreach($db_files as $db){ $a++; ?>
                                <tr>
                                    <td><?=$a?></td>
                                    <td><a href="<?=app_url('admin')?>/download-backup?i=<?=$db['time']?>">Download</a></td>
                                    <td><?=formatSizeUnit($db['file_size']);?></td>
                                    <td><?=date("d-m-Y -- h:i:s a", $db['time'])?></td>
                                </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
            <?php }else{ ?>
            <div class="card border-left-danger">
                <div class="card-body">
                    You are not allowed to access this page. please contact administration for more details.
                </div>
            </div>
            <?php }?>
        </div>
    </div>
</div>